In [1]:
import pandas as pd

from io import StringIO

data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [2]:
pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ["COL1", "COL3"])

  col1  col3
0    a     1
1    a     2
2    c     3

In [3]:
data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [4]:
pd.read_csv(StringIO(data), skiprows=lambda x: x % 2 != 0)

  col1 col2  col3
0    a    b     2

In [5]:
import numpy as np

data = "a,b,c,d\n1,2,3,4\n5,6,7,8\n9,10,11"

print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [6]:
df = pd.read_csv(StringIO(data), dtype=object)
df

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [7]:
df["a"][0]

'1'

In [8]:
df = pd.read_csv(StringIO(data), dtype={"b": object, "c": np.float64, "d": "Int64"})

df.dtypes

a      int64
b     object
c    float64
d      Int64
dtype: object

In [9]:
data = "col_1\n1\n2\n'A'\n4.22"

df = pd.read_csv(StringIO(data), converters={"col_1": str})

df

  col_1
0     1
1     2
2   'A'
3  4.22

In [10]:
df["col_1"].apply(type).value_counts()

col_1
<class 'str'>    4
Name: count, dtype: int64

In [11]:
df2 = pd.read_csv(StringIO(data))
df2

  col_1
0     1
1     2
2   'A'
3  4.22

In [12]:
df2.dtypes

col_1    object
dtype: object

In [13]:
df2["col_1"] = pd.to_numeric(df2["col_1"], errors="coerce")

df2

   col_1
0   1.00
1   2.00
2    NaN
3   4.22

In [14]:
df2.dtypes

col_1    float64
dtype: object

In [15]:
df2["col_1"].apply(type).value_counts()

col_1
<class 'float'>    4
Name: count, dtype: int64

In [16]:
col_1 = list(range(500000)) + ["a", "b"] + list(range(500000))

df = pd.DataFrame({"col_1": col_1})

df

          col_1
0             0
1             1
2             2
3             3
4             4
...         ...
999997   499995
999998   499996
999999   499997
1000000  499998
1000001  499999

[1000002 rows x 1 columns]

In [17]:
df["col_1"].apply(type).value_counts()

col_1
<class 'int'>    1000000
<class 'str'>          2
Name: count, dtype: int64

In [18]:
df.dtypes

col_1    object
dtype: object

In [19]:
df.to_csv("foo.csv")

mixed_df = pd.read_csv("foo.csv")

mixed_df["col_1"].apply(type).value_counts()

C:\Users\YOSSI\AppData\Local\Temp\ipykernel_18308\2381947515.py:3: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  mixed_df = pd.read_csv("foo.csv")

col_1
<class 'int'>    737858
<class 'str'>    262144
Name: count, dtype: int64

In [20]:
data = """a,b,c,d,e,f,g,h,i,j

1,2.5,True,a,,,,,12-31-2019,

3,4.5,False,b,6,7.5,True,a,12-31-2019,

"""



df = pd.read_csv(StringIO(data), dtype_backend="numpy_nullable", parse_dates=["i"])

df

   a    b      c  d     e     f     g     h          i     j
0  1  2.5   True  a  <NA>  <NA>  <NA>  <NA> 2019-12-31  <NA>
1  3  4.5  False  b     6   7.5  True     a 2019-12-31  <NA>

In [21]:
df.dtypes

a             Int64
b           Float64
c           boolean
d    string[python]
e             Int64
f           Float64
g           boolean
h    string[python]
i    datetime64[ns]
j             Int64
dtype: object

In [22]:
data = "col1,col2,col3\na,b,1\na,b,2\nc,d,3"

pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [23]:
pd.read_csv(StringIO(data)).dtypes

col1    object
col2    object
col3     int64
dtype: object

In [24]:
pd.read_csv(StringIO(data), dtype="category").dtypes

col1    category
col2    category
col3    category
dtype: object

In [25]:
pd.read_csv(StringIO(data), dtype={"col1": "category"}).dtypes

col1    category
col2      object
col3       int64
dtype: object

In [26]:
from pandas.api.types import CategoricalDtype

dtype = CategoricalDtype(["d", "c", "b", "a"], ordered=True)

pd.read_csv(StringIO(data), dtype={"col1": dtype}).dtypes

col1    category
col2      object
col3       int64
dtype: object

In [27]:
tmp = pd.read_csv(StringIO(data), dtype={"col1": dtype})
tmp

  col1 col2  col3
0    a    b     1
1    a    b     2
2    c    d     3

In [28]:
tmp["col1"]

0    a
1    a
2    c
Name: col1, dtype: category
Categories (4, object): ['d' < 'c' < 'b' < 'a']

In [29]:
tmp.loc[:, "col1"]

0    a
1    a
2    c
Name: col1, dtype: category
Categories (4, object): ['d' < 'c' < 'b' < 'a']

In [30]:
dtype = CategoricalDtype(["a", "b", "d"])  # No 'c'

pd.read_csv(StringIO(data), dtype={"col1": dtype}).col1

0      a
1      a
2    NaN
Name: col1, dtype: category
Categories (3, object): ['a', 'b', 'd']

In [31]:
df = pd.read_csv(StringIO(data), dtype="category")
df

  col1 col2 col3
0    a    b    1
1    a    b    2
2    c    d    3

In [32]:
df.dtypes

col1    category
col2    category
col3    category
dtype: object

In [33]:
df["col3"]

0    1
1    2
2    3
Name: col3, dtype: category
Categories (3, object): ['1', '2', '3']

In [34]:
new_categories = pd.to_numeric(df["col3"].cat.categories)

In [35]:
df["col3"] = df["col3"].cat.rename_categories(new_categories)

In [36]:
df["col3"]

0    1
1    2
2    3
Name: col3, dtype: category
Categories (3, int64): [1, 2, 3]

In [37]:
data = "a,b,c\n1,2,3\n4,5,6\n7,8,9"

print(data)

a,b,c
1,2,3
4,5,6
7,8,9

In [38]:
pd.read_csv(StringIO(data))

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [39]:
pd.read_csv(StringIO(data), names=["foo", "bar", "baz"], header=0)

   foo  bar  baz
0    1    2    3
1    4    5    6
2    7    8    9

In [40]:
pd.read_csv(StringIO(data), names=["foo", "bar", "baz"], header=None)

  foo bar baz
0   a   b   c
1   1   2   3
2   4   5   6
3   7   8   9

In [41]:
data = "skip this skip it\na,b,c\n1,2,3\n4,5,6\n7,8,9"

pd.read_csv(StringIO(data), header=1)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [42]:
data = "a,b,a\n0,1,2\n3,4,5"

pd.read_csv(StringIO(data))

   a  b  a.1
0  0  1    2
1  3  4    5

In [43]:
data = "a,b,c,d\n1,2,3,foo\n4,5,6,bar\n7,8,9,baz"

pd.read_csv(StringIO(data))

   a  b  c    d
0  1  2  3  foo
1  4  5  6  bar
2  7  8  9  baz

In [44]:
pd.read_csv(StringIO(data), usecols=["b", "d"])

   b    d
0  2  foo
1  5  bar
2  8  baz

In [45]:
pd.read_csv(StringIO(data), usecols=[0, 2, 3])

   a  c    d
0  1  3  foo
1  4  6  bar
2  7  9  baz

In [46]:
pd.read_csv(StringIO(data), usecols=lambda x: x.upper() in ["A", "C"])

   a  c
0  1  3
1  4  6
2  7  9

In [47]:
pd.read_csv(StringIO(data), usecols=lambda x: x not in ["a", "c"])

   b    d
0  2  foo
1  5  bar
2  8  baz

In [48]:
data = "\na,b,c\n  \n# commented line\n1,2,3\n\n4,5,6"
print(data)

a,b,c

# commented line
1,2,3

4,5,6

In [49]:

pd.read_csv(StringIO(data), comment="#")

   a  b  c
0  1  2  3
1  4  5  6

In [50]:
data = "a,b,c\n\n1,2,3\n\n\n4,5,6"

pd.read_csv(StringIO(data), skip_blank_lines=False)

     a    b    c
0  NaN  NaN  NaN
1  1.0  2.0  3.0
2  NaN  NaN  NaN
3  NaN  NaN  NaN
4  4.0  5.0  6.0

In [51]:
data = "#comment\na,b,c\nA,B,C\n1,2,3"

pd.read_csv(StringIO(data), comment="#", header=1)

   A  B  C
0  1  2  3

In [52]:
data = "A,B,C\n#comment\na,b,c\n1,2,3"

pd.read_csv(StringIO(data), comment="#", skiprows=2)

   a  b  c
0  1  2  3

In [53]:
data = (

    "# empty\n"

    "# second empty line\n"

    "# third emptyline\n"

    "X,Y,Z\n"

    "1,2,3\n"

    "A,B,C\n"

    "1,2.,4.\n"

    "5.,NaN,10.0\n"

)


print(data)

# empty
# second empty line
# third emptyline
X,Y,Z
1,2,3
A,B,C
1,2.,4.
5.,NaN,10.0

In [54]:
pd.read_csv(StringIO(data), comment="#", skiprows=4, header=1)

     A    B     C
0  1.0  2.0   4.0
1  5.0  NaN  10.0

In [55]:
data = (

    "ID,level,category\n"

    "Patient1,123000,x # really unpleasant\n"

    "Patient2,23000,y # wouldn't take his medicine\n"

    "Patient3,1234018,z # awesome"

)



with open("tmp.csv", "w") as fh:

    fh.write(data)

In [56]:
print(open("tmp.csv").read())

ID,level,category
Patient1,123000,x # really unpleasant
Patient2,23000,y # wouldn't take his medicine
Patient3,1234018,z # awesome

In [57]:
df = pd.read_csv("tmp.csv")

df

         ID    level                        category
0  Patient1   123000           x # really unpleasant
1  Patient2    23000  y # wouldn't take his medicine
2  Patient3  1234018                     z # awesome

In [58]:
df = pd.read_csv("tmp.csv", comment="#")

df

         ID    level category
0  Patient1   123000       x
1  Patient2    23000       y
2  Patient3  1234018       z

In [59]:
from io import BytesIO

data = b"word,length\n" b"Tr\xc3\xa4umen,7\n" b"Gr\xc3\xbc\xc3\x9fe,5"

data = data.decode("utf8").encode("latin-1")

df = pd.read_csv(BytesIO(data), encoding="latin-1")

df

      word  length
0  TrÃ¤umen       7
1    GrÃ¼ÃŸe       5

In [60]:
df["word"][1]

'GrÃ¼ÃŸe'

In [61]:
data = "a,b,c\n4,apple,bat,5.7\n8,orange,cow,10"

pd.read_csv(StringIO(data))

        a    b     c
4   apple  bat   5.7
8  orange  cow  10.0

In [62]:
data = "index,a,b,c\n4,apple,bat,5.7\n8,orange,cow,10"

pd.read_csv(StringIO(data), index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [63]:
data = "a,b,c\n4,apple,bat,\n8,orange,cow,"

print(data)

a,b,c
4,apple,bat,
8,orange,cow,

In [64]:
pd.read_csv(StringIO(data))

        a    b   c
4   apple  bat NaN
8  orange  cow NaN

In [65]:
pd.read_csv(StringIO(data), index_col=False)

   a       b    c
0  4   apple  bat
1  8  orange  cow

In [66]:
data = "a,b,c\n4,apple,bat,\n8,orange,cow,"

print(data)

a,b,c
4,apple,bat,
8,orange,cow,

In [67]:
pd.read_csv(StringIO(data), usecols=["b", "c"])

     b   c
4  bat NaN
8  cow NaN

In [68]:
pd.read_csv(StringIO(data), usecols=["b", "c"], index_col=0)

     b   c
4  bat NaN
8  cow NaN

In [69]:
with open("foo.csv", mode="w") as f:

    f.write("date,A,B,C\n20090101,a,1,2\n20090102,b,3,4\n20090103,c,4,5")

In [70]:
# Use a column as an index, and parse it as dates.

df = pd.read_csv("foo.csv", index_col=0, parse_dates=True)
df

            A  B  C
date
2009-01-01  a  1  2
2009-01-02  b  3  4
2009-01-03  c  4  5

In [71]:
# These are Python datetime objects

df.index

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03'], dtype='datetime64[ns]', name='date', freq=None)

In [72]:
data = (

    "KORD,19990127, 19:00:00, 18:56:00, 0.8100\n"

    "KORD,19990127, 20:00:00, 19:56:00, 0.0100\n"

    "KORD,19990127, 21:00:00, 20:56:00, -0.5900\n"

    "KORD,19990127, 21:00:00, 21:18:00, -0.9900\n"

    "KORD,19990127, 22:00:00, 21:56:00, -0.5900\n"

    "KORD,19990127, 23:00:00, 22:56:00, -0.5900"

)



with open("tmp.csv", "w") as fh:

    fh.write(data)



df = pd.read_csv("tmp.csv", header=None, parse_dates=[[1, 2], [1, 3]])

df

C:\Users\YOSSI\AppData\Local\Temp\ipykernel_18308\1326800743.py:25: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv("tmp.csv", header=None, parse_dates=[[1, 2], [1, 3]])

                  1_2                 1_3     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

In [73]:
df = pd.read_csv(

    "tmp.csv", header=None, parse_dates=[[1, 2], [1, 3]], keep_date_col=True
)
df

C:\Users\YOSSI\AppData\Local\Temp\ipykernel_18308\2322995131.py:1: FutureWarning: The 'keep_date_col' keyword in pd.read_csv is deprecated and will be removed in a future version. Explicitly remove unwanted columns after parsing instead.
  df = pd.read_csv(
C:\Users\YOSSI\AppData\Local\Temp\ipykernel_18308\2322995131.py:1: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv(

,1_2,1_3,0,1,2,3,4
0,1999-01-27 19:00:00,1999-01-27 18:56:00,KORD,19990127,19:00:00,18:56:00,0.81
1,1999-01-27 20:00:00,1999-01-27 19:56:00,KORD,19990127,20:00:00,19:56:00,0.01
2,1999-01-27 21:00:00,1999-01-27 20:56:00,KORD,19990127,21:00:00,20:56:00,-0.59
3,1999-01-27 21:00:00,1999-01-27 21:18:00,KORD,19990127,21:00:00,21:18:00,-0.99
4,1999-01-27 22:00:00,1999-01-27 21:56:00,KORD,19990127,22:00:00,21:56:00,-0.59
5,1999-01-27 23:00:00,1999-01-27 22:56:00,KORD,19990127,23:00:00,22:56:00,-0.59

In [74]:
date_spec = {"nominal": [1, 2], "actual": [1, 3]}

df = pd.read_csv("tmp.csv", header=None, parse_dates=date_spec)

df

C:\Users\YOSSI\AppData\Local\Temp\ipykernel_18308\3065679859.py:3: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv("tmp.csv", header=None, parse_dates=date_spec)

              nominal              actual     0     4
0 1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1 1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
2 1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
3 1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
4 1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
5 1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

In [75]:
date_spec = {"nominal": [1, 2], "actual": [1, 3]}

df = pd.read_csv(

    "tmp.csv", header=None, parse_dates=date_spec, index_col=0

)  # index is the nominal column


df

C:\Users\YOSSI\AppData\Local\Temp\ipykernel_18308\144504490.py:3: FutureWarning: Support for nested sequences for 'parse_dates' in pd.read_csv is deprecated. Combine the desired columns with pd.to_datetime after parsing instead.
  df = pd.read_csv(

                                 actual     0     4
nominal
1999-01-27 19:00:00 1999-01-27 18:56:00  KORD  0.81
1999-01-27 20:00:00 1999-01-27 19:56:00  KORD  0.01
1999-01-27 21:00:00 1999-01-27 20:56:00  KORD -0.59
1999-01-27 21:00:00 1999-01-27 21:18:00  KORD -0.99
1999-01-27 22:00:00 1999-01-27 21:56:00  KORD -0.59
1999-01-27 23:00:00 1999-01-27 22:56:00  KORD -0.59

In [76]:
content = """\

a

2000-01-01T00:00:00+05:00

2000-01-01T00:00:00+06:00"""



df = pd.read_csv(StringIO(content))

df["a"]

0    2000-01-01T00:00:00+05:00
1    2000-01-01T00:00:00+06:00
Name: a, dtype: object

In [77]:
df["a"] = pd.to_datetime(df["a"], utc=True)

df["a"]

0   1999-12-31 19:00:00+00:00
1   1999-12-31 18:00:00+00:00
Name: a, dtype: datetime64[ns, UTC]

In [78]:
df = pd.read_csv(

    "foo.csv",

    index_col=0,

    parse_dates=True,

)

df

            A  B  C
date
2009-01-01  a  1  2
2009-01-02  b  3  4
2009-01-03  c  4  5

In [79]:
data = StringIO("date\n12 Jan 2000\n2000-01-13\n")

df = pd.read_csv(data)

df['date'] = pd.to_datetime(df['date'], format='mixed')

df

        date
0 2000-01-12
1 2000-01-13

In [80]:
data = StringIO("date\n2020-01-01\n2020-01-01 03:00\n")

df = pd.read_csv(data)

df['date'] = pd.to_datetime(df['date'], format='ISO8601')

df

                 date
0 2020-01-01 00:00:00
1 2020-01-01 03:00:00

In [81]:
data = "date,value,cat\n1/6/2000,5,a\n2/6/2000,10,b\n3/6/2000,15,c"

print(data)

date,value,cat
1/6/2000,5,a
2/6/2000,10,b
3/6/2000,15,c

In [82]:
with open("tmp.csv", "w") as fh:

    fh.write(data)

In [83]:
pd.read_csv("tmp.csv", parse_dates=[0])

        date  value cat
0 2000-01-06      5   a
1 2000-02-06     10   b
2 2000-03-06     15   c

In [84]:
pd.read_csv("tmp.csv", dayfirst=True, parse_dates=[0])

        date  value cat
0 2000-06-01      5   a
1 2000-06-02     10   b
2 2000-06-03     15   c

In [85]:
import io

data = pd.DataFrame([0, 1, 2])

buffer = io.BytesIO()

data.to_csv(buffer, encoding="utf-8", compression="gzip")

In [86]:
val = "0.3066101993807095471566981359501369297504425048828125"

data = "a,b,c\n1,2,{0}".format(val)

abs(

    pd.read_csv(

        StringIO(data),

        engine="c",

        float_precision=None,

    )["c"][0] - float(val)

)

5.551115123125783e-17

In [87]:
abs(

    pd.read_csv(

        StringIO(data),

        engine="c",

        float_precision=None,

    )["c"][0] - float(val)

)

5.551115123125783e-17

In [88]:
abs(

    pd.read_csv(

        StringIO(data),

        engine="c",

        float_precision="high",

    )["c"][0] - float(val)

)

5.551115123125783e-17

In [89]:
abs(

    pd.read_csv(StringIO(data), engine="c", float_precision="round_trip")["c"][0]

    - float(val)

)

0.0

In [90]:
data = (

    "ID|level|category\n"

    "Patient1|123,000|x\n"

    "Patient2|23,000|y\n"

    "Patient3|1,234,018|z"

)

data

'ID|level|category\nPatient1|123,000|x\nPatient2|23,000|y\nPatient3|1,234,018|z'

In [91]:
with open("tmp.csv", "w") as fh:

    fh.write(data)

In [92]:
df = pd.read_csv("tmp.csv", sep="|")

df

         ID      level category
0  Patient1    123,000        x
1  Patient2     23,000        y
2  Patient3  1,234,018        z

In [93]:
df.dtypes

ID          object
level       object
category    object
dtype: object

In [94]:
df = pd.read_csv("tmp.csv", sep="|", thousands=",")

df

         ID    level category
0  Patient1   123000        x
1  Patient2    23000        y
2  Patient3  1234018        z

In [95]:
df.dtypes

ID          object
level        int64
category    object
dtype: object

In [96]:
data = "a,b,c\n1,Yes,2\n3,No,4"

print(data)

a,b,c
1,Yes,2
3,No,4

In [97]:
pd.read_csv(StringIO(data))

   a    b  c
0  1  Yes  2
1  3   No  4

In [98]:
boolean = pd.read_csv(StringIO(data), true_values=["Yes"], false_values=["No"])
boolean

   a      b  c
0  1   True  2
1  3  False  4

In [99]:
boolean.dtypes

a    int64
b     bool
c    int64
dtype: object

In [100]:
data = "a,b,c\n1,2,3\n4,5,6,7\n8,9,10"

pd.read_csv(StringIO(data), on_bad_lines="skip")

   a  b   c
0  1  2   3
1  8  9  10

In [101]:
external_list = []

def bad_lines_func(line):

    external_list.append(line)

    return line[-3:]



external_list

[]

In [102]:
bad_lines_func = lambda line: print(line)

data = 'name,type\nname a,a is of type a\nname b,"b\" is of type b"'

data

'name,type\nname a,a is of type a\nname b,"b" is of type b"'

In [103]:
pd.read_csv(StringIO(data), on_bad_lines=bad_lines_func, engine="python")

     name            type
0  name a  a is of type a

In [104]:
# Create a list to store dictionaries of bad lines
external_list = []

# Create a function that will keep track of current row
def create_bad_lines_handler():
    row_count = 0  # Initialize counter
    
    def bad_lines_func(line):
        nonlocal row_count
        row_count += 1
        external_list.append({
            'row_number': row_count,
            'content': line
        })
        return line[-3:]
    
    return bad_lines_func

# Create data with bad lines
data = '''col1,col2
1,2,3
4,5
6,7,8,9'''

# Create our handler
bad_lines_handler = create_bad_lines_handler()

# Read CSV with our bad lines handler
df = pd.read_csv(StringIO(data), 
                 on_bad_lines=bad_lines_handler, 
                 engine="python")

print("Bad lines:", external_list)

Bad lines: [{'row_number': 1, 'content': ['6', '7', '8', '9']}]

In [105]:
data = "label1,label2,label3\n" 'index1,"a,c,e\n' "index2,b,d,f"

print(data)

label1,label2,label3
index1,"a,c,e
index2,b,d,f

In [106]:
import csv

dia = csv.excel()

dia.quoting = csv.QUOTE_NONE

pd.read_csv(StringIO(data), dialect=dia)

       label1 label2 label3
index1     "a      c      e
index2      b      d      f

In [107]:
data = "a,b,c~1,2,3~4,5,6"

pd.read_csv(StringIO(data), lineterminator="~")

   a  b  c
0  1  2  3
1  4  5  6

In [108]:
data = "a, b, c\n1, 2, 3\n4, 5, 6"

print(data)

a, b, c
1, 2, 3
4, 5, 6

In [109]:
pd.read_csv(StringIO(data), skipinitialspace=True)

   a  b  c
0  1  2  3
1  4  5  6

In [110]:
data = 'a,b\n"hello, \\"Bob\\", nice to see you",5'

print(data)

a,b
"hello, \"Bob\", nice to see you",5

In [111]:
pd.read_csv(StringIO(data), escapechar="\\")

                               a  b
0  hello, "Bob", nice to see you  5

In [112]:
data1 = (

    "id8141    360.242940   149.910199   11950.7\n"

    "id1594    444.953632   166.985655   11788.4\n"

    "id1849    364.136849   183.628767   11806.2\n"

    "id1230    413.836124   184.375703   11916.8\n"

    "id1948    502.953953   173.237159   12468.3"

)


data1

'id8141    360.242940   149.910199   11950.7\nid1594    444.953632   166.985655   11788.4\nid1849    364.136849   183.628767   11806.2\nid1230    413.836124   184.375703   11916.8\nid1948    502.953953   173.237159   12468.3'

In [113]:
with open("bar.csv", "w") as f:

    f.write(data1)

In [114]:
# Column specifications are a list of half-intervals

colspecs = [(0, 6), (8, 20), (21, 33), (34, 43)]

df = pd.read_fwf("bar.csv", colspecs=colspecs, header=None, index_col=0)

df

                 1           2        3
0
id8141  360.242940  149.910199  11950.7
id1594  444.953632  166.985655  11788.4
id1849  364.136849  183.628767  11806.2
id1230  413.836124  184.375703  11916.8
id1948  502.953953  173.237159  12468.3

In [115]:
# Widths are a list of integers

widths = [6, 14, 13, 10]

df = pd.read_fwf("bar.csv", widths=widths, header=None)

df

        0           1           2        3
0  id8141  360.242940  149.910199  11950.7
1  id1594  444.953632  166.985655  11788.4
2  id1849  364.136849  183.628767  11806.2
3  id1230  413.836124  184.375703  11916.8
4  id1948  502.953953  173.237159  12468.3

In [116]:
df = pd.read_fwf("bar.csv", header=None, index_col=0)

df

                 1           2        3
0
id8141  360.242940  149.910199  11950.7
id1594  444.953632  166.985655  11788.4
id1849  364.136849  183.628767  11806.2
id1230  413.836124  184.375703  11916.8
id1948  502.953953  173.237159  12468.3

In [117]:
pd.read_fwf("bar.csv", header=None, index_col=0).dtypes

1    float64
2    float64
3    float64
dtype: object

In [118]:
pd.read_fwf("bar.csv", header=None, index_col=0, dtype={2: "object"}).dtypes

1    float64
2     object
3    float64
dtype: object

In [119]:
data = "A,B,C\n20090101,a,1,2\n20090102,b,3,4\n20090103,c,4,5"

print(data)

A,B,C
20090101,a,1,2
20090102,b,3,4
20090103,c,4,5

In [120]:
with open("foo.csv", "w") as f:

    f.write(data)

In [121]:
df = pd.read_csv("foo.csv")
df

          A  B  C
20090101  a  1  2
20090102  b  3  4
20090103  c  4  5

In [122]:
df.index

Index([20090101, 20090102, 20090103], dtype='int64')

In [123]:
df = pd.read_csv("foo.csv", parse_dates=True)
df

            A  B  C
2009-01-01  a  1  2
2009-01-02  b  3  4
2009-01-03  c  4  5

In [124]:
df.index

DatetimeIndex(['2009-01-01', '2009-01-02', '2009-01-03'], dtype='datetime64[ns]', freq=None)

In [125]:
data = 'year,indiv,zit,xit\n1977,"A",1.2,.6\n1977,"B",1.5,.5'

print(data)

year,indiv,zit,xit
1977,"A",1.2,.6
1977,"B",1.5,.5

In [126]:
with open("mindex_ex.csv", mode="w") as f:

    f.write(data)

In [127]:
df = pd.read_csv("mindex_ex.csv", index_col=[0, 1])

df

            zit  xit
year indiv
1977 A      1.2  0.6
     B      1.5  0.5

In [128]:
df.loc[1977]

       zit  xit
indiv
A      1.2  0.6
B      1.5  0.5

In [129]:
df.loc[1977, "A"]

zit    1.2
xit    0.6
Name: (1977, A), dtype: float64

In [130]:
mi_idx = pd.MultiIndex.from_arrays([[1, 2, 3, 4], list("abcd")], names=list("ab"))
mi_idx

MultiIndex([(1, 'a'),
            (2, 'b'),
            (3, 'c'),
            (4, 'd')],
           names=['a', 'b'])

In [131]:
mi_col = pd.MultiIndex.from_arrays([[1, 2], list("ab")], names=list("cd"))
mi_col

MultiIndex([(1, 'a'),
            (2, 'b')],
           names=['c', 'd'])

In [132]:
df = pd.DataFrame(np.ones((4, 2)), index=mi_idx, columns=mi_col)

df.to_csv("mi.csv")

print(open("mi.csv").read())

c,,1,2
d,,a,b
a,b,,
1,a,1.0,1.0
2,b,1.0,1.0
3,c,1.0,1.0
4,d,1.0,1.0

In [133]:
tmp = pd.read_csv("mi.csv", header=[0, 1], index_col=[0, 1])
tmp

c      1    2
d      a    b
a b
1 a  1.0  1.0
2 b  1.0  1.0
3 c  1.0  1.0
4 d  1.0  1.0

In [134]:
print(tmp)

c      1    2
d      a    b
a b
1 a  1.0  1.0
2 b  1.0  1.0
3 c  1.0  1.0
4 d  1.0  1.0

In [135]:
tmp.index

MultiIndex([(1, 'a'),
            (2, 'b'),
            (3, 'c'),
            (4, 'd')],
           names=['a', 'b'])

In [136]:
tmp.columns

MultiIndex([('1', 'a'),
            ('2', 'b')],
           names=['c', 'd'])

In [137]:
tmp.columns = tmp.columns.set_levels(tmp.columns.levels[0].astype(int), level=0)

In [138]:
tmp.columns

MultiIndex([(1, 'a'),
            (2, 'b')],
           names=['c', 'd'])

In [139]:
tmp.loc[(1, "a"), (2, "b")]

1.0

In [140]:
data = ",a,a,a,b,c,c\n,q,r,s,t,u,v\none,1,2,3,4,5,6\ntwo,7,8,9,10,11,12"

print(data)

,a,a,a,b,c,c
,q,r,s,t,u,v
one,1,2,3,4,5,6
two,7,8,9,10,11,12

In [141]:
with open("mi2.csv", "w") as fh:

    fh.write(data)

In [142]:
tmp = pd.read_csv("mi2.csv", header=[0, 1], index_col=0)
tmp

     a         b   c
     q  r  s   t   u   v
one  1  2  3   4   5   6
two  7  8  9  10  11  12

In [143]:
tmp.index

Index(['one', 'two'], dtype='object')

In [144]:
tmp.columns

MultiIndex([('a', 'q'),
            ('a', 'r'),
            ('a', 's'),
            ('b', 't'),
            ('c', 'u'),
            ('c', 'v')],
           )

In [145]:
tmp.loc["one", ("a", "q")]

1

In [146]:
df = pd.DataFrame(np.random.randn(10, 4))

df.to_csv("tmp2.csv", sep=":", index=False)

In [147]:
pd.read_csv("tmp2.csv", sep=None, engine="python")

          0         1         2         3
0  0.931858  1.256794 -0.753382  0.544862
1  0.343774  1.864078 -0.464219  1.024017
2  1.493546 -1.268445 -0.142871 -1.246087
3 -0.506189  1.224235 -1.093569  0.944176
4  0.295501  0.406880 -1.003155 -0.443925
5  0.297439 -0.283711  0.615811 -1.262542
6 -0.512328 -0.586788 -0.037203 -0.962777
7 -0.580802 -0.053335  1.227364  0.979763
8  1.089661 -0.898203  0.596612  0.812038
9 -0.343723 -0.071110  0.667865 -2.301292

In [148]:
df = pd.DataFrame(np.random.randn(10, 4))

df.to_csv("tmp.csv", index=False)

table = pd.read_csv("tmp.csv")

table

          0         1         2         3
0 -1.196883 -0.220012  1.695172  0.396552
1 -0.983952  1.182400  0.897777  0.043623
2  0.369085 -0.889569  1.301562 -1.730077
3  0.196500  2.130577  0.805547 -1.076104
4  1.302379 -1.545143  0.718396  0.166536
5 -0.385510  0.087024  1.736265 -0.439769
6  0.626706 -0.279922  0.247659 -1.200981
7 -0.628853  0.531809 -0.809722  0.766072
8  0.629468 -0.638183  0.237680  0.243278
9 -1.221870 -0.396891 -1.903499  1.009947

In [149]:
with pd.read_csv("tmp.csv", chunksize=4) as reader:

    print(reader)

    for chunk in reader:

        print(chunk)

<pandas.io.parsers.readers.TextFileReader object at 0x00000271E56715A0>
          0         1         2         3
0 -1.196883 -0.220012  1.695172  0.396552
1 -0.983952  1.182400  0.897777  0.043623
2  0.369085 -0.889569  1.301562 -1.730077
3  0.196500  2.130577  0.805547 -1.076104
          0         1         2         3
4  1.302379 -1.545143  0.718396  0.166536
5 -0.385510  0.087024  1.736265 -0.439769
6  0.626706 -0.279922  0.247659 -1.200981
7 -0.628853  0.531809 -0.809722  0.766072
          0         1         2         3
8  0.629468 -0.638183  0.237680  0.243278
9 -1.221870 -0.396891 -1.903499  1.009947

In [150]:
with pd.read_csv("tmp.csv", iterator=True) as reader:
    print(reader.get_chunk(5))

          0         1         2         3
0 -1.196883 -0.220012  1.695172  0.396552
1 -0.983952  1.182400  0.897777  0.043623
2  0.369085 -0.889569  1.301562 -1.730077
3  0.196500  2.130577  0.805547 -1.076104
4  1.302379 -1.545143  0.718396  0.166536

In [151]:
s3_df = pd.read_csv(
    "s3://ncei-wcsd-archive/data/processed/SH1305/18kHz/SaKe2013"
    "-D20130523-T080854_to_SaKe2013-D20130523-T085643.csv",
    storage_options={"anon": True},
)
s3_df.head()

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,Ping_index,Distance_gps,Distance_vl,Ping_date,Ping_time,Ping_milliseconds,Latitude,Longitude,Depth_start,Depth_stop,Range_start,Range_stop,Sample_count
0,0.000000,23169.606000,2013-05-23,08:08:54,287.0,999.000000,999.000000,0.75,750.75,0.0,750.0,1000,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-6.933820e+01,-6.936579e+01,-71.730284,-73.032610,-72.779612,-70.659417,-76.001118,-74.374570,-73.667444,-77.999502,-78.601638,-74.482335,-77.676559,-73.537422,-78.427841,-79.329450,-79.557816,-76.620673,-999.000000,-999.000000,-78.407149,-77.728195,-999.000000,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-9.990000e+02,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-64.610568,-57.728608,-76.886915,-999.000000,-9.990000e+02,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-78.518863,-999.0,-999.0,-999.0,-65.061624,-76.140013,-78.634526,-73.381478,-999.00000,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.000000,-999.0,-999.0,-999.0,-79.100793,-77.612017,-79.817369,-999.0,-999.000000,-27.507308,-13.427225,-19.405455,-26.254836,-29.397216,-36.219804,-26.885962,-33.336949,-37.932315,-29.106252,-42.625573,-44.771142,-46.348725,-58.413731,-67.214788,-70.349786,-65.856623,-74.073387,-74.504505,-78.056101,-70.243524,-74.141246,-69.820423,-76.527778,-74.045161,-72.466062,-71.272289,-76.483295,-68.126368,-69.202735,-67.076469,-69.143558,-72.861757,-72.395435,-77.825764,-75.127572,-69.057546,-74.048637,-72.078003,-999.000000,-74.038795,-75.714917,-78.167644,-999.000000,-73.046773,-73.136850,-999.000000,-999.000000,-999.000000,-74.239636,-78.511322,-78.155183,-999.000000,-999.000000,-999.000000,-999.000000,-77.268980,-75.834340,-75.859857,-999.000000,-999.000000,-75.234205,-74.593204,-73.953501,-78.677282,-999.000000,-999.000000,-79.119364,-79.777960,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-56.677909,-49.203675,-49.877052,-54.008024,-51.828891,-56.905204,-55.536743,-62.453265,-59.143317,-61.080185,-54.183927,-45.883512,-51.291887,-51.559937,-46.100149,-56.797113,-60.179945,-48.165938,-48.541189,-62.070024,-65.530095,-61.751217,-71.467080,-67.031411,-62.341580,-61.515844,-62.641361,-66.065080,-70.898421,-67.559454,-70.694290,-73.050658,-75.441443,-999.000000,-77.949772,-71.502149,-72.788324,-74.574103,-73.057468,-71.861303,-74.068330,-72.510057,-75.008366,-72.832807,-70.098124,-70.926538,-999.000000,-78.244398,-73.500486,-71.704713,-79.168348,-75.526990,-74.752467,-76.497806,-999.000000,-999.000000,-999.000000,-76.719695,-999.000000,-79.774555,-999.000000,-77.387719,-75.855323,-999.000000,-999.000000,-79.712509,-999.000000,-74.099751,-76.149742,-999.000000,-999.000000,-999.000000,-999.0,-999.000000,-78.903608,-78.799948,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-78.271928,-999.0,-999.0,-999.0,-78.836557,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.00000,-999.0,-999.000000,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.000000,-999.000000,-78.608792,-999.000000,-999.0,-71.124086,-72.899251,-75.044293,-78.595082,-78.137066,-73.798765,-74.597246,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-77.163097,-77.870110,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-76.343269,-78.954210,-999.000000,-999.000000,-999.000000,-75.330716,-79.007678,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.0,-999.000000,-999.000000,-999.0,-999.000000,-79.928225,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-77.557657,-999.000000,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-79.619411,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.00000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.00000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-9.990000e+02,-9.900000e+37
1,0.001448,23169.611615,2013-05-23,08:08:55,802.0,47.038269,-124.846214,0.75,750.75,0.0,750.0,1000,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-9.900000e+37,-6.834180e+01,-7.297355e+01,-73.009698,-71.992733,-73.579270,-74.908388,-74.817536,-75.589257,-75.676720,-77.306564,-77.318364,-74.040366,-73.904090,-76.052746,-76.694361,-74.833430,-75.276394,-78.611973,-76.761158,-79.817662,-79.586431,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-9.990000e+02,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-62.680064,-55.516434,-74.682446,-999.000000,-9.990000e+02,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-73.909944,-68.216049,-999.000000,-74.371761,-999.00000,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.000000,-999.0,-999.0,-999.0,-74.505427,-74.602312,-999.000000,-999.0,-999.000000,-46.941684,-14.424440,-16.855536,-19.685797,-20.747733,-27.343727,-27.098171,-33.466453,-41.035044,-38.644027,-42.145813,-42.464683,-51.576314,-60.965457,-58.654941,-57.419386,-67.590382,-74.450885,-74.769664,-72.512900,-71.759024,-77.863131,-73.739847,-76.156029,-73.142225,-77.538082,-74.603030,-72.980044,-70.990792,-73.994994,-71.356153,-72.178603,-71.494176,-76.253062,-70.248025,-72.453982,-70.981655,-73.899917,-75.303822,-68.258552,-70.808320,-74.401482,-77.074771,-76.573581,-72.919223,-75.243077,-999.000000,-79.116683,-73.720536,-71.081127,-71.011844,-79.063553,-999.000000,-75.972259,-77.203310,-76.737881,-76.362640,-77.850919,-999.000000,-78.946064,-79.397042,-75.900114,-78.520542,-77.045813,-79.297055,-999.000000,-999.000000,-999.000000,-79.823681,-999.0,-78.917757,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-72.156633,-48.728363,-48.747521,-52.408550,-56.833351,-57.856081,-61.609439,-62.092666,-57.253451,-61.598902,-51.287183,-51.819430,-48.850574,-55.972806,-49.283740,-51.883617,-56.815044,-55.620861,-55.830107,-58.552422,-53.449975,-59.062272,-63.175772,-62.053754,-66.030447,-64.774745,-66.803879,-65.047419,-68.349818,-68.430635,-67.072138,-71.932343,-68.919513,-71.433272,-63.777251,-63.674496,-74.021995,-75.321649,-72.728000,-74.462386,-73.946704,-72.873107,-73.391991,-73.653302,-76.923305,-74.295433,-72.395133,-72.122535,-72.690825,-76.000647,-74.507257,-77.130767,-77.319880,-71.517834,-69.456381,-999.000000,-74.410756,-72.656568,-999.000000,-999.000000,-999.000000,-76.470601,-999.000000,-78.828679,-79.995010,-78.324362,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.0,-999.000000,-999.000000,-999.000000,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-79.125015,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.00000,-999.0,-999.000000,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-79.628004,-999.0,-999.0,-78.034162,-75.122579,-999.000000,-77.714409,-999.0,-999.000000,-76.408811,-77.284842,-999.000000,-74.046688,-999.000000,-999.000000,-999.000000,-77.484485,-78.289288,-77.401294,-77.957778,-999.000000,-999.000000,-79.925542,-76.034729,-79.579408,-77.847160,-999.000000,-79.203188,-999.000000,-999.000000,-999.000000,-999.000000,-79.982629,-73.957181,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-75.181454,-999.000000,-999.0,-999.000000,-999.000000,-999.0,-999.000000,-999.000000,-76.115723,-999.000000,-999.000000,-999.0,-999.0,-999.000000,-999.000000,-999.0,-78.520814,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.00000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.00000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.000000,-999.000000,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-9.990000e+02,-9.900000e+37

In [152]:
#json
dfj = pd.DataFrame(np.random.randn(5, 2), columns=list("AB"))

json = dfj.to_json()

json

'{"A":{"0":1.0785126268,"1":1.7162690146,"2":-0.354839967,"3":1.0192803882,"4":-0.2872673278},"B":{"0":0.2864066803,"1":-1.6279458699,"2":1.598716204,"3":1.2089480164,"4":0.9864796842}}'

In [153]:
dfjo = pd.DataFrame(

    dict(A=range(1, 4), B=range(4, 7), C=range(7, 10)),

    columns=list("ABC"),

    index=list("xyz"),

)


dfjo

   A  B  C
x  1  4  7
y  2  5  8
z  3  6  9

In [154]:
sjo = pd.Series(dict(x=15, y=16, z=17), name="D")

sjo

x    15
y    16
z    17
Name: D, dtype: int64

In [155]:
dfjo.to_json(orient="columns")

'{"A":{"x":1,"y":2,"z":3},"B":{"x":4,"y":5,"z":6},"C":{"x":7,"y":8,"z":9}}'

In [156]:
dfjo.to_json(orient="index")

'{"x":{"A":1,"B":4,"C":7},"y":{"A":2,"B":5,"C":8},"z":{"A":3,"B":6,"C":9}}'

In [157]:
sjo.to_json(orient="index")

'{"x":15,"y":16,"z":17}'

In [158]:
dfjo.to_json(orient="values")

'[[1,4,7],[2,5,8],[3,6,9]]'

In [159]:
dfjo.to_json(orient="split")

'{"columns":["A","B","C"],"index":["x","y","z"],"data":[[1,4,7],[2,5,8],[3,6,9]]}'

In [160]:
sjo.to_json(orient="split")

'{"name":"D","index":["x","y","z"],"data":[15,16,17]}'

In [161]:
dfd = pd.DataFrame(np.random.randn(5, 2), columns=list("AB"))
dfd

          A         B
0 -0.676928  0.081044
1 -1.012798  1.707745
2  0.178120 -2.483214
3  0.541532 -1.966086
4 -0.467650 -1.365508

In [162]:
dfd["date"] = pd.Timestamp("20130101")

dfd

          A         B       date
0 -0.676928  0.081044 2013-01-01
1 -1.012798  1.707745 2013-01-01
2  0.178120 -2.483214 2013-01-01
3  0.541532 -1.966086 2013-01-01
4 -0.467650 -1.365508 2013-01-01

In [163]:
dfd = dfd.sort_index(axis=1, ascending=False)
dfd

        date         B         A
0 2013-01-01  0.081044 -0.676928
1 2013-01-01  1.707745 -1.012798
2 2013-01-01 -2.483214  0.178120
3 2013-01-01 -1.966086  0.541532
4 2013-01-01 -1.365508 -0.467650

In [164]:
json = dfd.to_json(date_format="iso")
json

'{"date":{"0":"2013-01-01T00:00:00.000","1":"2013-01-01T00:00:00.000","2":"2013-01-01T00:00:00.000","3":"2013-01-01T00:00:00.000","4":"2013-01-01T00:00:00.000"},"B":{"0":0.0810444437,"1":1.7077449233,"2":-2.4832138255,"3":-1.9660856053,"4":-1.3655081865},"A":{"0":-0.6769280049,"1":-1.0127975838,"2":0.1781204998,"3":0.5415321273,"4":-0.4676497734}}'

In [165]:
json = dfd.to_json(date_format="iso", date_unit="us")

json

'{"date":{"0":"2013-01-01T00:00:00.000000","1":"2013-01-01T00:00:00.000000","2":"2013-01-01T00:00:00.000000","3":"2013-01-01T00:00:00.000000","4":"2013-01-01T00:00:00.000000"},"B":{"0":0.0810444437,"1":1.7077449233,"2":-2.4832138255,"3":-1.9660856053,"4":-1.3655081865},"A":{"0":-0.6769280049,"1":-1.0127975838,"2":0.1781204998,"3":0.5415321273,"4":-0.4676497734}}'

In [166]:
dfj2 = dfj.copy()

dfj2["date"] = pd.Timestamp("20130101")

dfj2["ints"] = list(range(5))

dfj2["bools"] = True

dfj2.index = pd.date_range("20130101", periods=5)

dfj2

                   A         B       date  ints  bools
2013-01-01  1.078513  0.286407 2013-01-01     0   True
2013-01-02  1.716269 -1.627946 2013-01-01     1   True
2013-01-03 -0.354840  1.598716 2013-01-01     2   True
2013-01-04  1.019280  1.208948 2013-01-01     3   True
2013-01-05 -0.287267  0.986480 2013-01-01     4   True

In [167]:
dfj2.to_json("test.json")

with open("test.json") as fh:

    print(fh.read())

{"A":{"1356998400000":1.0785126268,"1357084800000":1.7162690146,"1357171200000":-0.354839967,"1357257600000":1.0192803882,"1357344000000":-0.2872673278},"B":{"1356998400000":0.2864066803,"1357084800000":-1.6279458699,"1357171200000":1.598716204,"1357257600000":1.2089480164,"1357344000000":0.9864796842},"date":{"1356998400000":1356,"1357084800000":1356,"1357171200000":1356,"1357257600000":1356,"1357344000000":1356},"ints":{"1356998400000":0,"1357084800000":1,"1357171200000":2,"1357257600000":3,"1357344000000":4},"bools":{"1356998400000":true,"1357084800000":true,"1357171200000":true,"1357257600000":true,"1357344000000":true}}

In [168]:
pd.DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json()  # raises

'{"0":{"0":{"imag":0.0,"real":1.0},"1":{"imag":0.0,"real":2.0},"2":{"imag":2.0,"real":1.0}}}'

In [169]:
pd.DataFrame([1.0, 2.0, complex(1.0, 2.0)]).to_json(default_handler=str)

'{"0":{"0":"(1+0j)","1":"(2+0j)","2":"(1+2j)"}}'

In [170]:
from io import StringIO

pd.read_json(StringIO(json))

        date         B         A
0 2013-01-01  0.081044 -0.676928
1 2013-01-01  1.707745 -1.012798
2 2013-01-01 -2.483214  0.178120
3 2013-01-01 -1.966086  0.541532
4 2013-01-01 -1.365508 -0.467650

In [171]:
pd.read_json("test.json")

                   A         B  date  ints  bools
2013-01-01  1.078513  0.286407  1356     0   True
2013-01-02  1.716269 -1.627946  1356     1   True
2013-01-03 -0.354840  1.598716  1356     2   True
2013-01-04  1.019280  1.208948  1356     3   True
2013-01-05 -0.287267  0.986480  1356     4   True

In [172]:
pd.read_json("test.json", dtype=object).dtypes

A        object
B        object
date     object
ints     object
bools    object
dtype: object

In [173]:
pd.read_json("test.json", dtype={"A": "float32", "bools": "int8"}).dtypes

A        float32
B        float64
date       int64
ints       int64
bools       int8
dtype: object

In [174]:
from io import StringIO

si = pd.DataFrame(

    np.zeros((4, 4)), columns=list(range(4)), index=[str(i) for i in range(4)]

)

si

     0    1    2    3
0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0

In [175]:
si.index

Index(['0', '1', '2', '3'], dtype='object')

In [176]:
si.columns

Index([0, 1, 2, 3], dtype='int64')

In [177]:
json = si.to_json()

sij = pd.read_json(StringIO(json), convert_axes=False)

sij

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

In [178]:
sij.index

Index(['0', '1', '2', '3'], dtype='object')

In [179]:
sij.columns

Index(['0', '1', '2', '3'], dtype='object')

In [180]:
sij = pd.read_json(StringIO(json), convert_axes=True)

sij

   0  1  2  3
0  0  0  0  0
1  0  0  0  0
2  0  0  0  0
3  0  0  0  0

In [181]:
sij.index

Index([0, 1, 2, 3], dtype='int64')

In [182]:
sij.columns

Index([0, 1, 2, 3], dtype='int64')

In [183]:
from io import StringIO

json = dfj2.to_json(date_unit="ns")
json

'{"A":{"1356998400000000000":1.0785126268,"1357084800000000000":1.7162690146,"1357171200000000000":-0.354839967,"1357257600000000000":1.0192803882,"1357344000000000000":-0.2872673278},"B":{"1356998400000000000":0.2864066803,"1357084800000000000":-1.6279458699,"1357171200000000000":1.598716204,"1357257600000000000":1.2089480164,"1357344000000000000":0.9864796842},"date":{"1356998400000000000":1356998400,"1357084800000000000":1356998400,"1357171200000000000":1356998400,"1357257600000000000":1356998400,"1357344000000000000":1356998400},"ints":{"1356998400000000000":0,"1357084800000000000":1,"1357171200000000000":2,"1357257600000000000":3,"1357344000000000000":4},"bools":{"1356998400000000000":true,"1357084800000000000":true,"1357171200000000000":true,"1357257600000000000":true,"1357344000000000000":true}}'

In [184]:
# Try to parse timestamps as milliseconds -> Won't Work

dfju = pd.read_json(StringIO(json), date_unit="ms")

dfju

                            A         B        date  ints  bools
1356998400000000000  1.078513  0.286407  1356998400     0   True
1357084800000000000  1.716269 -1.627946  1356998400     1   True
1357171200000000000 -0.354840  1.598716  1356998400     2   True
1357257600000000000  1.019280  1.208948  1356998400     3   True
1357344000000000000 -0.287267  0.986480  1356998400     4   True

In [185]:
# Let pandas detect the correct precision

dfju = pd.read_json(StringIO(json))

dfju

                   A         B       date  ints  bools
2013-01-01  1.078513  0.286407 2013-01-01     0   True
2013-01-02  1.716269 -1.627946 2013-01-01     1   True
2013-01-03 -0.354840  1.598716 2013-01-01     2   True
2013-01-04  1.019280  1.208948 2013-01-01     3   True
2013-01-05 -0.287267  0.986480 2013-01-01     4   True

In [186]:
# Or specify that all timestamps are in nanoseconds

dfju = pd.read_json(StringIO(json), date_unit="ns")

dfju

                   A         B        date  ints  bools
2013-01-01  1.078513  0.286407  1356998400     0   True
2013-01-02  1.716269 -1.627946  1356998400     1   True
2013-01-03 -0.354840  1.598716  1356998400     2   True
2013-01-04  1.019280  1.208948  1356998400     3   True
2013-01-05 -0.287267  0.986480  1356998400     4   True

In [187]:
data = (

 '{"a":{"0":1,"1":3},"b":{"0":2.5,"1":4.5},"c":{"0":true,"1":false},"d":{"0":"a","1":"b"},'

 '"e":{"0":null,"1":6.0},"f":{"0":null,"1":7.5},"g":{"0":null,"1":true},"h":{"0":null,"1":"a"},'

 '"i":{"0":"12-31-2019","1":"12-31-2019"},"j":{"0":null,"1":null}}'

)



df = pd.read_json(StringIO(data), dtype_backend="pyarrow")

df

   a    b      c  d     e     f     g     h           i     j
0  1  2.5   True  a  <NA>  <NA>  <NA>  <NA>  12-31-2019  None
1  3  4.5  False  b     6   7.5  True     a  12-31-2019  None

In [188]:
df.dtypes

a     int64[pyarrow]
b    double[pyarrow]
c      bool[pyarrow]
d    string[pyarrow]
e     int64[pyarrow]
f    double[pyarrow]
g      bool[pyarrow]
h    string[pyarrow]
i    string[pyarrow]
j      null[pyarrow]
dtype: object

In [189]:
data = [

    {"id": 1, "name": {"first": "Coleen", "last": "Volk"}},

    {"name": {"given": "Mark", "family": "Regner"}},

    {"id": 2, "name": "Faye Raker"},

]
data

[{'id': 1, 'name': {'first': 'Coleen', 'last': 'Volk'}},
 {'name': {'given': 'Mark', 'family': 'Regner'}},
 {'id': 2, 'name': 'Faye Raker'}]

In [190]:
pd.json_normalize(data)

    id name.first name.last name.given name.family        name
0  1.0     Coleen      Volk        NaN         NaN         NaN
1  NaN        NaN       NaN       Mark      Regner         NaN
2  2.0        NaN       NaN        NaN         NaN  Faye Raker

In [191]:
data = [

    {

        "state": "Florida",

        "shortname": "FL",

        "info": {"governor": "Rick Scott"},

        "county": [

            {"name": "Dade", "population": 12345},

            {"name": "Broward", "population": 40000},

            {"name": "Palm Beach", "population": 60000},

        ],

    },

    {

        "state": "Ohio",

        "shortname": "OH",

        "info": {"governor": "John Kasich"},

        "county": [

            {"name": "Summit", "population": 1234},

            {"name": "Cuyahoga", "population": 1337},

        ],

    },

]



data

[{'state': 'Florida',
  'shortname': 'FL',
  'info': {'governor': 'Rick Scott'},
  'county': [{'name': 'Dade', 'population': 12345},
   {'name': 'Broward', 'population': 40000},
   {'name': 'Palm Beach', 'population': 60000}]},
 {'state': 'Ohio',
  'shortname': 'OH',
  'info': {'governor': 'John Kasich'},
  'county': [{'name': 'Summit', 'population': 1234},
   {'name': 'Cuyahoga', 'population': 1337}]}]

In [192]:
pd.json_normalize(data, "county", ["state", "shortname", ["info", "governor"]])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

In [193]:
data = [

    {

        "CreatedBy": {"Name": "User001"},

        "Lookup": {

            "TextField": "Some text",

            "UserField": {"Id": "ID001", "Name": "Name001"},

        },

        "Image": {"a": "b"},

    }

]



pd.json_normalize(data, max_level=1)

  CreatedBy.Name Lookup.TextField                    Lookup.UserField Image.a
0        User001        Some text  {'Id': 'ID001', 'Name': 'Name001'}       b

In [194]:
data = [

    {

        "CreatedBy": {"Name": "User001"},

        "Lookup": {

            "TextField": "Some text",

            "UserField": {"Id": "ID001", "Name": "Name001"},

        },

        "Image": {"a": "b"},

    }

]



pd.json_normalize(data)

,CreatedBy.Name,Lookup.TextField,Lookup.UserField.Id,Lookup.UserField.Name,Image.a
0,User001,Some text,ID001,Name001,b

In [195]:
from io import StringIO

jsonl = """

    {"a": 1, "b": 2}

    {"a": 3, "b": 4}

"""



df = pd.read_json(StringIO(jsonl), lines=True)

df

   a  b
0  1  2
1  3  4

In [196]:
df.to_json(orient="records", lines=True)

'{"a":1,"b":2}\n{"a":3,"b":4}\n'

In [197]:
# reader is an iterator that returns ``chunksize`` lines each iteration

with pd.read_json(StringIO(jsonl), lines=True, chunksize=1) as reader:

    print(reader)

    for chunk in reader:

        print(chunk)

<pandas.io.json._json.JsonReader object at 0x00000271E92D33A0>
Empty DataFrame
Columns: []
Index: []
Empty DataFrame
Columns: []
Index: []
   a  b
0  1  2
Empty DataFrame
Columns: []
Index: []
   a  b
1  3  4
Empty DataFrame
Columns: []
Index: []

In [198]:
from io import BytesIO

df = pd.read_json(BytesIO(jsonl.encode()), lines=True, engine="pyarrow")

df

   a  b
0  1  2
1  3  4

In [199]:
df = pd.DataFrame(

    {

        "A": [1, 2, 3],

        "B": ["a", "b", "c"],

        "C": pd.date_range("2016-01-01", freq="d", periods=3),

    },

    index=pd.Index(range(3), name="idx"),

)



df

     A  B          C
idx
0    1  a 2016-01-01
1    2  b 2016-01-02
2    3  c 2016-01-03

In [200]:
df.to_json(orient="table", date_format="iso")

'{"schema":{"fields":[{"name":"idx","type":"integer"},{"name":"A","type":"integer"},{"name":"B","type":"string"},{"name":"C","type":"datetime"}],"primaryKey":["idx"],"pandas_version":"1.4.0"},"data":[{"idx":0,"A":1,"B":"a","C":"2016-01-01T00:00:00.000"},{"idx":1,"A":2,"B":"b","C":"2016-01-02T00:00:00.000"},{"idx":2,"A":3,"B":"c","C":"2016-01-03T00:00:00.000"}]}'

In [201]:
from pandas.io.json import build_table_schema

s = pd.Series(pd.date_range("2016", periods=4))
s

0   2016-01-01
1   2016-01-02
2   2016-01-03
3   2016-01-04
dtype: datetime64[ns]

In [202]:
build_table_schema(s)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'values', 'type': 'datetime'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [203]:
s_tz = pd.Series(pd.date_range("2016", periods=12, tz="US/Central"))

build_table_schema(s_tz)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'values', 'type': 'datetime', 'tz': 'US/Central'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [204]:
s_per = pd.Series(1, index=pd.period_range("2016", freq="Y-DEC", periods=4))
s_per

2016    1
2017    1
2018    1
2019    1
Freq: Y-DEC, dtype: int64

In [205]:
build_table_schema(s_per)

{'fields': [{'name': 'index', 'type': 'datetime', 'freq': 'YE-DEC'},
  {'name': 'values', 'type': 'integer'}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [206]:
s_cat = pd.Series(pd.Categorical(["a", "b", "a"]))
s_cat

0    a
1    b
2    a
dtype: category
Categories (2, object): ['a', 'b']

In [207]:
build_table_schema(s_cat)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'values',
   'type': 'any',
   'constraints': {'enum': ['a', 'b']},
   'ordered': False}],
 'primaryKey': ['index'],
 'pandas_version': '1.4.0'}

In [208]:
s_dupe = pd.Series([1, 2], index=[1, 1])
s_dupe

1    1
1    2
dtype: int64

In [209]:
s_dupe[1]

1    1
1    2
dtype: int64

In [210]:
build_table_schema(s_dupe)

{'fields': [{'name': 'index', 'type': 'integer'},
  {'name': 'values', 'type': 'integer'}],
 'pandas_version': '1.4.0'}

In [211]:
s_multi = pd.Series(1, index=pd.MultiIndex.from_product([("a", "b"), (0, 1)]))
s_multi

a  0    1
   1    1
b  0    1
   1    1
dtype: int64

In [212]:
build_table_schema(s_multi)

{'fields': [{'name': 'level_0', 'type': 'string'},
  {'name': 'level_1', 'type': 'integer'},
  {'name': 'values', 'type': 'integer'}],
 'primaryKey': FrozenList(['level_0', 'level_1']),
 'pandas_version': '1.4.0'}

In [213]:
df = pd.DataFrame(

    {

        "foo": [1, 2, 3, 4],

        "bar": ["a", "b", "c", "d"],

        "baz": pd.date_range("2018-01-01", freq="d", periods=4),

        "qux": pd.Categorical(["a", "b", "c", "c"]),

    },

    index=pd.Index(range(4), name="idx"),

)



df

     foo bar        baz qux
idx
0      1   a 2018-01-01   a
1      2   b 2018-01-02   b
2      3   c 2018-01-03   c
3      4   d 2018-01-04   c

In [214]:
df.dtypes

foo             int64
bar            object
baz    datetime64[ns]
qux          category
dtype: object

In [215]:
df.index

RangeIndex(start=0, stop=4, step=1, name='idx')

In [216]:
df.to_json("test.json", orient="table")

In [217]:
new_df = pd.read_json("test.json", orient="table")

In [218]:
new_df

     foo bar        baz qux
idx
0      1   a 2018-01-01   a
1      2   b 2018-01-02   b
2      3   c 2018-01-03   c
3      4   d 2018-01-04   c

In [219]:
new_df.dtypes

foo             int64
bar            object
baz    datetime64[ns]
qux          category
dtype: object

In [220]:
df.index

RangeIndex(start=0, stop=4, step=1, name='idx')

In [221]:
df.index.name = "index"

df.to_json("test.json", orient="table")

new_df = pd.read_json("test.json", orient="table")

print(new_df.index.name)

None

C:\Users\YOSSI\AppData\Local\Temp\ipykernel_18308\2506826336.py:3: UserWarning: Index name of 'index' is not round-trippable.
  df.to_json("test.json", orient="table")

In [222]:
#excel
# Returns a DataFrame
df = pd.DataFrame(

    {"a": [1, 2, 3, 4], "b": [5, 6, 7, 8]},

    index=pd.MultiIndex.from_product([["a", "b"], ["c", "d"]]),

)
df

     a  b
a c  1  5
  d  2  6
b c  3  7
  d  4  8

In [223]:
df.index

MultiIndex([('a', 'c'),
            ('a', 'd'),
            ('b', 'c'),
            ('b', 'd')],
           )

In [224]:
df.to_excel("path_to_file.xlsx")

df = pd.read_excel("path_to_file.xlsx", index_col=[0, 1])

df

     a  b
a c  1  5
  d  2  6
b c  3  7
  d  4  8

In [225]:
df2 = pd.read_excel("path_to_file.xlsx")

df2

  Unnamed: 0 Unnamed: 1  a  b
0          a          c  1  5
1        NaN          d  2  6
2          b          c  3  7
3        NaN          d  4  8

In [226]:
df.index

MultiIndex([('a', 'c'),
            ('a', 'd'),
            ('b', 'c'),
            ('b', 'd')],
           )

In [227]:
df.index = df.index.set_names(["lvl1", "lvl2"])

df.to_excel("path_to_file.xlsx")

df = pd.read_excel("path_to_file.xlsx", index_col=[0, 1])

df

           a  b
lvl1 lvl2
a    c     1  5
     d     2  6
b    c     3  7
     d     4  8

In [228]:
df2 = pd.read_excel("path_to_file.xlsx")

df2

  lvl1 lvl2  a  b
0    a    c  1  5
1  NaN    d  2  6
2    b    c  3  7
3  NaN    d  4  8

In [229]:
df.columns = pd.MultiIndex.from_product([["a"], ["b", "d"]], names=["c1", "c2"])

df.to_excel("path_to_file.xlsx")

df = pd.read_excel("path_to_file.xlsx", index_col=[0, 1], header=[0, 1])

df

c1         a
c2         b  d
lvl1 lvl2
a    c     1  5
     d     2  6
b    c     3  7
     d     4  8

In [230]:
# you can copy the following text to the clipboard (CTRL-C on many operating systems):
'''
  A B C
x 1 4 p
y 2 5 q
z 3 6 r
'''

'\n  A B C\nx 1 4 p\ny 2 5 q\nz 3 6 r\n'

In [232]:
clipdf = pd.read_clipboard()

In [233]:
clipdf

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [234]:
df = pd.DataFrame(

    {"A": [1, 2, 3], "B": [4, 5, 6], "C": ["p", "q", "r"]}, index=["x", "y", "z"]

)

df

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [235]:
df.to_clipboard()

pd.read_clipboard()

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [236]:
df

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [237]:
df.to_pickle("foo.pkl")

In [238]:
pd.read_pickle("foo.pkl")

   A  B  C
x  1  4  p
y  2  5  q
z  3  6  r

In [239]:
df = pd.DataFrame(

    {

        "A": np.random.randn(1000),

        "B": "foo",

        "C": pd.date_range("20130101", periods=1000, freq="s"),

    }

)



df

            A    B                   C
0    0.480051  foo 2013-01-01 00:00:00
1    0.987332  foo 2013-01-01 00:00:01
2   -0.005204  foo 2013-01-01 00:00:02
3    0.668390  foo 2013-01-01 00:00:03
4   -1.225659  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  1.487407  foo 2013-01-01 00:16:35
996  0.186748  foo 2013-01-01 00:16:36
997  0.508340  foo 2013-01-01 00:16:37
998 -1.146371  foo 2013-01-01 00:16:38
999 -0.797288  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

In [241]:
df.to_pickle("data.pkl.compress", compression="gzip")

rt = pd.read_pickle("data.pkl.compress", compression="gzip")

rt

            A    B                   C
0    0.480051  foo 2013-01-01 00:00:00
1    0.987332  foo 2013-01-01 00:00:01
2   -0.005204  foo 2013-01-01 00:00:02
3    0.668390  foo 2013-01-01 00:00:03
4   -1.225659  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  1.487407  foo 2013-01-01 00:16:35
996  0.186748  foo 2013-01-01 00:16:36
997  0.508340  foo 2013-01-01 00:16:37
998 -1.146371  foo 2013-01-01 00:16:38
999 -0.797288  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

In [242]:
df.to_pickle("data.pkl.gz")

rt = pd.read_pickle("data.pkl.gz")

rt

            A    B                   C
0    0.480051  foo 2013-01-01 00:00:00
1    0.987332  foo 2013-01-01 00:00:01
2   -0.005204  foo 2013-01-01 00:00:02
3    0.668390  foo 2013-01-01 00:00:03
4   -1.225659  foo 2013-01-01 00:00:04
..        ...  ...                 ...
995  1.487407  foo 2013-01-01 00:16:35
996  0.186748  foo 2013-01-01 00:16:36
997  0.508340  foo 2013-01-01 00:16:37
998 -1.146371  foo 2013-01-01 00:16:38
999 -0.797288  foo 2013-01-01 00:16:39

[1000 rows x 3 columns]

In [243]:
df["A"].to_pickle("s1.pkl.bz2")

rt = pd.read_pickle("s1.pkl.bz2")

rt

0      0.480051
1      0.987332
2     -0.005204
3      0.668390
4     -1.225659
         ...
995    1.487407
996    0.186748
997    0.508340
998   -1.146371
999   -0.797288
Name: A, Length: 1000, dtype: float64

In [244]:
df.to_pickle("data.pkl.gz", compression={"method": "gzip", "compresslevel": 1})

In [245]:
#HDF5 PyTables
store = pd.HDFStore("store.h5")

print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [246]:
index = pd.date_range("1/1/2000", periods=8)
index

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08'],
              dtype='datetime64[ns]', freq='D')

In [247]:
s = pd.Series(np.random.randn(5), index=["a", "b", "c", "d", "e"])
s

a   -0.126808
b    1.513557
c    2.962028
d    2.017455
e   -0.406183
dtype: float64

In [248]:
df = pd.DataFrame(np.random.randn(8, 3), index=index, columns=["A", "B", "C"])
df

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [249]:
# store.put('s', s) is an equivalent method

store["s"] = s

store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [250]:
store["df"] = df

store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [251]:
# store.get('df') is an equivalent method

store["df"]

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [252]:
# dotted (attribute) access provides get as well

store.df

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [253]:
# store.remove('df') is an equivalent method

del store["df"]

In [254]:
store.close()

store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [255]:
store.is_open

False

In [256]:
# Working with, and automatically closing the store using a context manager
with pd.HDFStore("store.h5") as store:

    print(store.keys())

['/df1_mt', '/df2_mt', '/df_coord', '/df_dc', '/df_mask', '/df_mi', '/df_mi_2', '/df_mixed', '/dfeq', '/dfq', '/dfs', '/dfs2', '/dfss', '/dfss2', '/s', '/foo/bar/bah']

In [257]:
df_tl = pd.DataFrame({"A": list(range(5)), "B": list(range(5))})
df_tl

   A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4

In [258]:
df_tl.to_hdf("store_tl.h5", key="table", append=True)

pd.read_hdf("store_tl.h5", "table", where=["index>2"])

   A  B
3  3  3
4  4  4
3  3  3
4  4  4

In [259]:
pd.read_hdf("store_tl.h5", "table")

   A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4

In [260]:
df_with_missing = pd.DataFrame(

    {

        "col1": [0, np.nan, 2],

        "col2": [1, np.nan, np.nan],

    }

)



df_with_missing

   col1  col2
0   0.0   1.0
1   NaN   NaN
2   2.0   NaN

In [261]:
df_with_missing.to_hdf("file.h5", key="df_with_missing", format="table", mode="w")

pd.read_hdf("file.h5", "df_with_missing")

   col1  col2
0   0.0   1.0
1   NaN   NaN
2   2.0   NaN

In [262]:
df_with_missing.to_hdf(

    "file.h5", key="df_with_missing", format="table", mode="w", dropna=True

)



pd.read_hdf("file.h5", "df_with_missing")

   col1  col2
0   0.0   1.0
2   2.0   NaN

In [263]:
store = pd.HDFStore("store.h5")

df1 = df[0:4]

df2 = df[4:]

# append data (creates a table automatically)

store.append("df", df1)

store.append("df", df2)

store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [264]:
# select the entire object

store.select("df")

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [265]:
# the type of stored data

store.root.df._v_attrs.pandas_type

'frame_table'

In [266]:
store.root.df

/df (Group) ''
  children := ['table' (Table)]

In [267]:
store.root.df._v_attrs

/df._v_attrs (AttributeSet), 15 attributes:
   [CLASS := 'GROUP',
    TITLE := '',
    VERSION := '1.0',
    data_columns := [],
    encoding := 'UTF-8',
    errors := 'strict',
    index_cols := [(0, 'index')],
    info := {1: {'names': [None], 'type': 'Index'}, 'index': {'freq': <Day>}, 'values_block_0': {}},
    levels := 1,
    nan_rep := 'nan',
    non_index_axes := [(1, ['A', 'B', 'C'])],
    pandas_type := 'frame_table',
    pandas_version := '0.15.2',
    table_type := 'appendable_frame',
    values_cols := ['values_block_0']]

In [268]:
store.put("foo/bar/bah", df)

store.append("food/orange", df)

store.append("food/apple", df)

store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [269]:
store.root

/ (RootGroup) ''
  children := ['df1_mt' (Group), 'df2_mt' (Group), 'df_coord' (Group), 'df_dc' (Group), 'df_mask' (Group), 'df_mi' (Group), 'df_mi_2' (Group), 'df_mixed' (Group), 'dfeq' (Group), 'dfq' (Group), 'dfs' (Group), 'dfs2' (Group), 'dfss' (Group), 'dfss2' (Group), 'foo' (Group), 's' (Group), 'df' (Group), 'food' (Group)]

In [270]:
# a list of keys are returned

store.keys()

['/df',
 '/df1_mt',
 '/df2_mt',
 '/df_coord',
 '/df_dc',
 '/df_mask',
 '/df_mi',
 '/df_mi_2',
 '/df_mixed',
 '/dfeq',
 '/dfq',
 '/dfs',
 '/dfs2',
 '/dfss',
 '/dfss2',
 '/s',
 '/food/apple',
 '/food/orange',
 '/foo/bar/bah']

In [271]:
# remove all nodes under this level

store.remove("food")

In [272]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: store.h5

In [273]:
store.root

/ (RootGroup) ''
  children := ['df1_mt' (Group), 'df2_mt' (Group), 'df_coord' (Group), 'df_dc' (Group), 'df_mask' (Group), 'df_mi' (Group), 'df_mi_2' (Group), 'df_mixed' (Group), 'dfeq' (Group), 'dfq' (Group), 'dfs' (Group), 'dfs2' (Group), 'dfss' (Group), 'dfss2' (Group), 'foo' (Group), 's' (Group), 'df' (Group)]

In [274]:
for (path, subgroups, subkeys) in store.walk():

    for subgroup in subgroups:

        print("GROUP: {}/{}".format(path, subgroup))

    for subkey in subkeys:

        key = "/".join([path, subkey])

        print("KEY: {}".format(key))
        
        print("value:")

        print(store.get(key))

GROUP: /foo
KEY: /df1_mt
value:
                   A         B
2000-01-01 -2.858795  0.066968
2000-01-02       NaN       NaN
2000-01-03 -0.000888 -0.465785
2000-01-04  1.433931  1.294571
2000-01-05  1.118996 -1.736189
2000-01-06  1.254328  2.338276
2000-01-07 -0.484241  0.535379
2000-01-08  0.921162  0.058956
KEY: /df2_mt
value:
                   C         D         E         F  foo
2000-01-01  0.067692 -1.181587  1.506961  0.571729  bar
2000-01-02 -0.373564  0.941560  0.403962  0.634318  bar
2000-01-03  2.118074  0.901173 -0.212040 -1.233431  bar
2000-01-04  0.201203  0.741245 -1.162186 -1.229126  bar
2000-01-05  0.657460 -2.013690 -1.486685 -1.787100  bar
2000-01-06 -0.242792 -0.380503 -0.119632 -0.749709  bar
2000-01-07 -1.332726 -0.539220 -0.316547 -0.010923  bar
2000-01-08 -1.231249 -0.455299 -0.805650  1.902766  bar
KEY: /df_coord
value:
                   0         1
2000-01-01  1.765655  0.266213
2000-01-02 -0.329177 -1.123907
2000-01-03 -1.229284  0.591652
2000-01-04 -0.277956 -1.063608
2000-01-05  1.064886  0.511730
...              ...       ...
2002-09-22 -0.309560 -1.118570
2002-09-23  1.106650  0.422178
2002-09-24 -0.172637 -1.182985
2002-09-25 -0.413268 -0.353969
2002-09-26  1.422021 -1.294537

[1000 rows x 2 columns]
KEY: /df_dc
value:
                   A         B         C string string2
2000-01-01 -0.862867  0.305092 -1.050126    foo    cool
2000-01-02  1.469214  1.000000  1.000000    foo    cool
2000-01-03 -0.195339  1.000000  1.000000    foo    cool
2000-01-04  0.251650 -0.683660  1.298330    foo    cool
2000-01-05  1.707508  0.137397  2.010809    NaN    cool
2000-01-06 -0.595124 -1.094256 -0.371072    NaN    cool
2000-01-07  0.031890 -1.522984  1.360831    bar    cool
2000-01-08 -0.548136  0.700510 -0.306658    bar    cool
KEY: /df_mask
value:
                   0         1
2000-01-01  0.525531  0.146042
2000-01-02  0.755098  0.282577
2000-01-03  0.227821 -0.074881
2000-01-04  0.544369  0.318287
2000-01-05 -0.100634  2.038171
...              ...       ...
2002-09-22  1.119512  0.271251
2002-09-23  0.894911  0.236899
2002-09-24  2.190314  1.138514
2002-09-25 -0.546321 -0.320799
2002-09-26 -1.567466 -0.289900

[1000 rows x 2 columns]
KEY: /df_mi
value:
                  A         B         C
foo bar
foo one    0.529288 -1.028905  1.087273
    two   -0.036318 -0.648768  1.585372
    three -0.351691  1.868525 -0.854711
bar one   -1.032758  0.054112  0.042210
    two    1.445920  0.000714 -1.433375
baz two   -0.088736  1.344275  1.766591
    three -0.338603  1.104660  0.099938
qux one    0.190068  1.358213 -0.271793
    two   -1.683656 -1.341809  0.931471
    three -2.088936  0.635966  0.675207
KEY: /df_mi_2
value:
                  A         B         C
foo one    0.713848  0.145729  0.322331
    two   -0.220168 -0.028325  0.280354
    three -1.088188 -0.224440  0.493732
bar one   -1.230972  2.097722  0.062969
    two    0.700361  0.268822  0.925706
baz two    1.074669 -1.525782  0.395496
    three  1.621039  0.596374  1.128825
qux one    0.295523  0.067637 -0.395475
    two   -1.172289 -2.169461 -1.254881
    three  0.554226 -0.960220 -0.742261
KEY: /df_mixed
value:
          A         B         C  string  int  bool  \
0  0.315490  1.339004 -0.007022  string    1  True
1 -1.790956 -1.265664 -0.635474  string    1  True
2  0.237694  0.822132  0.240732  string    1  True
3       NaN       NaN  0.041502     NaN    1  True
4       NaN       NaN  0.520884     NaN    1  True
5 -1.625376  0.605638  4.314217  string    1  True
6  0.949244 -0.178639 -0.057453  string    1  True
7  0.465943  0.605554 -0.314767  string    1  True

                     datetime64
0 1970-01-01 00:00:00.978393600
1 1970-01-01 00:00:00.978393600
2 1970-01-01 00:00:00.978393600
3                           NaT
4                           NaT
5 1970-01-01 00:00:00.978393600
6 1970-01-01 00:00:00.978393600
7 1970-01-01 00:00:00.978393600
KEY: /dfeq
value:
   number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10
KEY: /dfq
value:
                   A         B         C         D
2013-01-01  0.879337 -0.165279  0.799658  1.444426
2013-01-02 -0.045371  0.241362  0.449703  0.323736
2013-01-03 -0.993016 -1.219771  1.509191 -1.795512
2013-01-04  0.466717  0.323794  0.269766 -0.072396
2013-01-05  3.059633 -1.419347  2.512473 -0.536980
2013-01-06 -0.548269  0.303208 -0.267080  0.157611
2013-01-07  1.360330  1.067136  0.598334  1.324270
2013-01-08  0.464379 -0.024912  0.308337  0.467310
2013-01-09 -0.233104 -0.636267  0.437856 -1.086904
2013-01-10  0.041095 -1.389182  1.617717 -0.626640
KEY: /dfs
value:
     A    B
0  foo  bar
1  foo  bar
2  foo  bar
3  foo  bar
4  foo  bar
KEY: /dfs2
value:
     A    B
0  foo  bar
1  foo  bar
2  foo  bar
3  foo  bar
4  foo  bar
KEY: /dfss
value:
     A
0  foo
1  bar
2  NaN
KEY: /dfss2
value:
     A
0  foo
1  bar
2  nan
0  foo
1  bar
2  nan
0  foo
1  bar
2  nan
KEY: /s
value:
a   -0.126808
b    1.513557
c    2.962028
d    2.017455
e   -0.406183
dtype: float64
KEY: /df
value:
                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410
GROUP: /foo/bar
KEY: /foo/bar/bah
value:
                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [275]:
# you can directly access the actual PyTables node but using the root node

store.root.foo.bar.bah

/foo/bar/bah (Group) ''
  children := ['axis0' (Array), 'axis1' (Array), 'block0_items' (Array), 'block0_values' (Array)]

In [276]:
store["foo/bar/bah"]

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [277]:
df_mixed = pd.DataFrame(

    {

        "A": np.random.randn(8),

        "B": np.random.randn(8),

        "C": np.array(np.random.randn(8), dtype="float32"),

        "string": "string",

        "int": 1,

        "bool": True,

        "datetime64": pd.Timestamp("20010102"),

    },

    index=list(range(8)),

)


df_mixed

          A         B         C  string  int  bool datetime64
0  0.790736  0.724707  0.280262  string    1  True 2001-01-02
1 -0.583806  1.899149  1.466842  string    1  True 2001-01-02
2  0.306015 -1.613460  1.175847  string    1  True 2001-01-02
3  0.780430 -0.839952 -1.137146  string    1  True 2001-01-02
4  0.424996  0.245658  0.560154  string    1  True 2001-01-02
5  0.397418 -0.254699  0.176587  string    1  True 2001-01-02
6  0.549135 -0.376597 -1.843869  string    1  True 2001-01-02
7 -0.615788  0.993520  1.751156  string    1  True 2001-01-02

In [278]:
df_mixed.loc[df_mixed.index[3:5], ["A", "B", "string", "datetime64"]] = np.nan

In [279]:
df_mixed

          A         B         C  string  int  bool datetime64
0  0.790736  0.724707  0.280262  string    1  True 2001-01-02
1 -0.583806  1.899149  1.466842  string    1  True 2001-01-02
2  0.306015 -1.613460  1.175847  string    1  True 2001-01-02
3       NaN       NaN -1.137146     NaN    1  True        NaT
4       NaN       NaN  0.560154     NaN    1  True        NaT
5  0.397418 -0.254699  0.176587  string    1  True 2001-01-02
6  0.549135 -0.376597 -1.843869  string    1  True 2001-01-02
7 -0.615788  0.993520  1.751156  string    1  True 2001-01-02

In [280]:
store.append("df_mixed", df_mixed, min_itemsize={"values": 50})

In [281]:
store.root

/ (RootGroup) ''
  children := ['df1_mt' (Group), 'df2_mt' (Group), 'df_coord' (Group), 'df_dc' (Group), 'df_mask' (Group), 'df_mi' (Group), 'df_mi_2' (Group), 'df_mixed' (Group), 'dfeq' (Group), 'dfq' (Group), 'dfs' (Group), 'dfs2' (Group), 'dfss' (Group), 'dfss2' (Group), 'foo' (Group), 's' (Group), 'df' (Group)]

In [282]:
store["df_mixed"]

,A,B,C,string,int,bool,datetime64
0,0.315490,1.339004,-0.007022,string,1,True,1970-01-01 00:00:00.978393600
1,-1.790956,-1.265664,-0.635474,string,1,True,1970-01-01 00:00:00.978393600
2,0.237694,0.822132,0.240732,string,1,True,1970-01-01 00:00:00.978393600
3,NaN,NaN,0.041502,NaN,1,True,NaT
4,NaN,NaN,0.520884,NaN,1,True,NaT
5,-1.625376,0.605638,4.314217,string,1,True,1970-01-01 00:00:00.978393600
6,0.949244,-0.178639,-0.057453,string,1,True,1970-01-01 00:00:00.978393600
7,0.465943,0.605554,-0.314767,string,1,True,1970-01-01 00:00:00.978393600
0,0.790736,0.724707,0.280262,string,1,True,1970-01-01 00:00:00.978393600
1,-0.583806,1.899149,1.466842,string,1,True,1970-01-01 00:00:00.978393600
2,0.306015,-1.613460,1.175847,string,1,True,1970-01-01 00:00:00.978393600
3,NaN,NaN,-1.137146,NaN,1,True,NaT
4,NaN,NaN,0.560154,NaN,1,True,NaT
5,0.397418,-0.254699,0.176587,string,1,True,1970-01-01 00:00:00.978393600
6,0.549135,-0.376597,-1.843869,string,1,True,1970-01-01 00:00:00.978393600
7,-0.615788,0.993520,1.751156,string,1,True,1970-01-01 00:00:00.978393600

In [283]:
df_mixed1 = store.select("df_mixed")

In [284]:
df_mixed1

,A,B,C,string,int,bool,datetime64
0,0.315490,1.339004,-0.007022,string,1,True,1970-01-01 00:00:00.978393600
1,-1.790956,-1.265664,-0.635474,string,1,True,1970-01-01 00:00:00.978393600
2,0.237694,0.822132,0.240732,string,1,True,1970-01-01 00:00:00.978393600
3,NaN,NaN,0.041502,NaN,1,True,NaT
4,NaN,NaN,0.520884,NaN,1,True,NaT
5,-1.625376,0.605638,4.314217,string,1,True,1970-01-01 00:00:00.978393600
6,0.949244,-0.178639,-0.057453,string,1,True,1970-01-01 00:00:00.978393600
7,0.465943,0.605554,-0.314767,string,1,True,1970-01-01 00:00:00.978393600
0,0.790736,0.724707,0.280262,string,1,True,1970-01-01 00:00:00.978393600
1,-0.583806,1.899149,1.466842,string,1,True,1970-01-01 00:00:00.978393600
2,0.306015,-1.613460,1.175847,string,1,True,1970-01-01 00:00:00.978393600
3,NaN,NaN,-1.137146,NaN,1,True,NaT
4,NaN,NaN,0.560154,NaN,1,True,NaT
5,0.397418,-0.254699,0.176587,string,1,True,1970-01-01 00:00:00.978393600
6,0.549135,-0.376597,-1.843869,string,1,True,1970-01-01 00:00:00.978393600
7,-0.615788,0.993520,1.751156,string,1,True,1970-01-01 00:00:00.978393600

In [285]:
df_mixed1.dtypes.value_counts()

float64           2
float32           1
object            1
int64             1
bool              1
datetime64[ns]    1
Name: count, dtype: int64

In [286]:
df_mixed1.dtypes

A                    float64
B                    float64
C                    float32
string                object
int                    int64
bool                    bool
datetime64    datetime64[ns]
dtype: object

In [287]:
# we have provided a minimum string column size

store.root.df_mixed.table

/df_mixed/table (Table(16,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(2,), dflt=0.0, pos=1),
  "values_block_1": Float32Col(shape=(1,), dflt=0.0, pos=2),
  "values_block_2": StringCol(itemsize=50, shape=(1,), dflt=b'', pos=3),
  "values_block_3": Int64Col(shape=(1,), dflt=0, pos=4),
  "values_block_4": BoolCol(shape=(1,), dflt=False, pos=5),
  "values_block_5": Int64Col(shape=(1,), dflt=0, pos=6)}
  byteorder := 'little'
  chunkshape := (689,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [288]:
index = pd.MultiIndex(

   levels=[["foo", "bar", "baz", "qux"], ["one", "two", "three"]],

   codes=[[0, 0, 0, 1, 1, 2, 2, 3, 3, 3], [0, 1, 2, 0, 1, 1, 2, 0, 1, 2]],

   names=["foo", "bar"],

)



index

MultiIndex([('foo',   'one'),
            ('foo',   'two'),
            ('foo', 'three'),
            ('bar',   'one'),
            ('bar',   'two'),
            ('baz',   'two'),
            ('baz', 'three'),
            ('qux',   'one'),
            ('qux',   'two'),
            ('qux', 'three')],
           names=['foo', 'bar'])

In [289]:
index.codes

FrozenList([[0, 0, 0, 1, 1, 2, 2, 3, 3, 3], [0, 1, 2, 0, 1, 1, 2, 0, 1, 2]])

In [290]:
df_mi = pd.DataFrame(np.random.randn(10, 3), index=index, columns=["A", "B", "C"])

df_mi

                  A         B         C
foo bar
foo one    1.797347  0.579057  0.474047
    two   -1.463556 -1.352133  0.472210
    three  0.457068  1.652623 -1.033675
bar one    3.142134  1.095315 -0.739930
    two   -0.939991 -1.636854 -2.347606
baz two   -0.997299  0.942752  0.902478
    three -0.469474 -1.133136 -0.075418
qux one   -0.033343 -0.069899 -1.747946
    two    2.227127 -1.058943  2.303326
    three -0.175030 -0.004757 -0.824820

In [291]:
store.append("df_mi", df_mi)

store.select("df_mi")

                  A         B         C
foo bar
foo one    0.529288 -1.028905  1.087273
    two   -0.036318 -0.648768  1.585372
    three -0.351691  1.868525 -0.854711
bar one   -1.032758  0.054112  0.042210
    two    1.445920  0.000714 -1.433375
baz two   -0.088736  1.344275  1.766591
    three -0.338603  1.104660  0.099938
qux one    0.190068  1.358213 -0.271793
    two   -1.683656 -1.341809  0.931471
    three -2.088936  0.635966  0.675207
foo one    1.797347  0.579057  0.474047
    two   -1.463556 -1.352133  0.472210
    three  0.457068  1.652623 -1.033675
bar one    3.142134  1.095315 -0.739930
    two   -0.939991 -1.636854 -2.347606
baz two   -0.997299  0.942752  0.902478
    three -0.469474 -1.133136 -0.075418
qux one   -0.033343 -0.069899 -1.747946
    two    2.227127 -1.058943  2.303326
    three -0.175030 -0.004757 -0.824820

In [292]:
# the levels are automatically included as data columns

store.select("df_mi", "foo=bar")

                A         B         C
foo bar
bar one -1.032758  0.054112  0.042210
    two  1.445920  0.000714 -1.433375
    one  3.142134  1.095315 -0.739930
    two -0.939991 -1.636854 -2.347606

In [293]:
dfq = pd.DataFrame(

    np.random.randn(10, 4),

    columns=list("ABCD"),

    index=pd.date_range("20130101", periods=10),

)
dfq

                   A         B         C         D
2013-01-01 -0.740983 -0.319718 -0.036821  0.461305
2013-01-02  0.536992 -0.171407  1.379837 -1.239800
2013-01-03 -0.519631 -0.529097 -0.550743  0.137214
2013-01-04  0.841983 -0.030666  2.148523 -0.223926
2013-01-05  0.220298 -0.483354 -0.662529 -0.790891
2013-01-06 -0.146107 -1.200178  1.866723 -1.831682
2013-01-07 -0.811059  0.465624 -0.965451  0.032938
2013-01-08  0.277215  0.536370  0.421373  0.744691
2013-01-09 -0.319951  1.169636 -0.805435 -0.374887
2013-01-10 -0.499564  1.370995  1.047925  0.888198

In [294]:
store.append("dfq", dfq, format="table", data_columns=True)

In [295]:
store.root

/ (RootGroup) ''
  children := ['df1_mt' (Group), 'df2_mt' (Group), 'df_coord' (Group), 'df_dc' (Group), 'df_mask' (Group), 'df_mi' (Group), 'df_mi_2' (Group), 'df_mixed' (Group), 'dfeq' (Group), 'dfq' (Group), 'dfs' (Group), 'dfs2' (Group), 'dfss' (Group), 'dfss2' (Group), 'foo' (Group), 's' (Group), 'df' (Group)]

In [296]:
store.select("dfq", "index>pd.Timestamp('20130104') & columns=['A', 'B']")

                   A         B
2013-01-05  3.059633 -1.419347
2013-01-06 -0.548269  0.303208
2013-01-07  1.360330  1.067136
2013-01-08  0.464379 -0.024912
2013-01-09 -0.233104 -0.636267
2013-01-10  0.041095 -1.389182
2013-01-05  0.220298 -0.483354
2013-01-06 -0.146107 -1.200178
2013-01-07 -0.811059  0.465624
2013-01-08  0.277215  0.536370
2013-01-09 -0.319951  1.169636
2013-01-10 -0.499564  1.370995

In [297]:
store.select("dfq", where="A>0 or C>0")

                   A         B         C         D
2013-01-01  0.879337 -0.165279  0.799658  1.444426
2013-01-02 -0.045371  0.241362  0.449703  0.323736
2013-01-03 -0.993016 -1.219771  1.509191 -1.795512
2013-01-04  0.466717  0.323794  0.269766 -0.072396
2013-01-05  3.059633 -1.419347  2.512473 -0.536980
2013-01-07  1.360330  1.067136  0.598334  1.324270
2013-01-08  0.464379 -0.024912  0.308337  0.467310
2013-01-09 -0.233104 -0.636267  0.437856 -1.086904
2013-01-10  0.041095 -1.389182  1.617717 -0.626640
2013-01-02  0.536992 -0.171407  1.379837 -1.239800
2013-01-04  0.841983 -0.030666  2.148523 -0.223926
2013-01-05  0.220298 -0.483354 -0.662529 -0.790891
2013-01-06 -0.146107 -1.200178  1.866723 -1.831682
2013-01-08  0.277215  0.536370  0.421373  0.744691
2013-01-10 -0.499564  1.370995  1.047925  0.888198

In [298]:
store.select("df", "columns=['A', 'B']")

                   A         B
2000-01-01  1.496738  0.721952
2000-01-02 -0.515706  1.379301
2000-01-03 -1.111231 -0.927873
2000-01-04  1.372394 -2.046918
2000-01-05 -0.140143 -0.335221
2000-01-06  0.984153 -1.401931
2000-01-07 -1.348034 -0.443631
2000-01-08  0.153899  0.780704

In [299]:
from datetime import timedelta

dftd = pd.DataFrame(

    {

        "A": pd.Timestamp("20130101"),

        "B": [

            pd.Timestamp("20130101") + timedelta(days=i, seconds=10)

            for i in range(10)

        ],

    }

)


dftd["C"] = dftd["A"] - dftd["B"]

dftd

           A                   B                  C
0 2013-01-01 2013-01-01 00:00:10  -1 days +23:59:50
1 2013-01-01 2013-01-02 00:00:10  -2 days +23:59:50
2 2013-01-01 2013-01-03 00:00:10  -3 days +23:59:50
3 2013-01-01 2013-01-04 00:00:10  -4 days +23:59:50
4 2013-01-01 2013-01-05 00:00:10  -5 days +23:59:50
5 2013-01-01 2013-01-06 00:00:10  -6 days +23:59:50
6 2013-01-01 2013-01-07 00:00:10  -7 days +23:59:50
7 2013-01-01 2013-01-08 00:00:10  -8 days +23:59:50
8 2013-01-01 2013-01-09 00:00:10  -9 days +23:59:50
9 2013-01-01 2013-01-10 00:00:10 -10 days +23:59:50

In [300]:
store.append("dftd", dftd, data_columns=True)

store.select("dftd", "C<'-3.5D'")

                              A                   B                  C
4 1970-01-01 00:00:01.356998400 2013-01-05 00:00:10  -5 days +23:59:50
5 1970-01-01 00:00:01.356998400 2013-01-06 00:00:10  -6 days +23:59:50
6 1970-01-01 00:00:01.356998400 2013-01-07 00:00:10  -7 days +23:59:50
7 1970-01-01 00:00:01.356998400 2013-01-08 00:00:10  -8 days +23:59:50
8 1970-01-01 00:00:01.356998400 2013-01-09 00:00:10  -9 days +23:59:50
9 1970-01-01 00:00:01.356998400 2013-01-10 00:00:10 -10 days +23:59:50

In [301]:
df_mi.index.names

FrozenList(['foo', 'bar'])

In [302]:
store.select("df_mi", "foo=baz and bar=two")

                A         B         C
foo bar
baz two -0.088736  1.344275  1.766591
    two -0.997299  0.942752  0.902478

In [303]:
index = pd.MultiIndex(

    levels=[["foo", "bar", "baz", "qux"], ["one", "two", "three"]],

    codes=[[0, 0, 0, 1, 1, 2, 2, 3, 3, 3], [0, 1, 2, 0, 1, 1, 2, 0, 1, 2]],

)
index

MultiIndex([('foo',   'one'),
            ('foo',   'two'),
            ('foo', 'three'),
            ('bar',   'one'),
            ('bar',   'two'),
            ('baz',   'two'),
            ('baz', 'three'),
            ('qux',   'one'),
            ('qux',   'two'),
            ('qux', 'three')],
           )

In [304]:
df_mi_2 = pd.DataFrame(np.random.randn(10, 3), index=index, columns=["A", "B", "C"])

df_mi_2

                  A         B         C
foo one    1.533927 -0.851345  1.979442
    two    0.279493  0.191420 -0.702340
    three -1.168246  0.363366  0.806269
bar one   -1.425996 -1.885488  1.289285
    two   -1.595749 -1.487442 -0.131995
baz two   -0.389463  0.732948  0.652293
    three -1.384428 -0.345059 -0.619422
qux one    0.269824 -0.209890  0.766925
    two   -0.980945  0.482851 -0.171453
    three  0.465532 -0.023121 -1.057377

In [305]:
store.append("df_mi_2", df_mi_2)

# the levels are automatically included as data columns with keyword level_n

store.select("df_mi_2", "level_0=foo and level_1=two")

                A         B         C
foo two -0.220168 -0.028325  0.280354
    two  0.279493  0.191420 -0.702340

In [306]:
# we have automagically already created an index (in the first section)

i = store.root.df.table.cols.index.index
i

/df/_i_table/index (Index for column /df/table.cols.index)
  optlevel := 6
  kind := medium
  filters := Filters(complevel=1, complib='zlib', shuffle=True, bitshuffle=False, fletcher32=False, least_significant_digit=None)
  is_csi := False
  nelements := 8
  chunksize := 1024
  slicesize := 131072
  blocksize := 131072
  superblocksize := 262144
  dirty := 0
  byteorder := 'little'
    sorted := IndexArray(path=/df/_i_table/index/sorted)
    indices := IndexArray(path=/df/_i_table/index/indices)
    ranges := /df/_i_table/index/ranges (CacheArray(0, 2)shuffle, zlib(1)) 'Range Values'
    bounds := /df/_i_table/index/bounds (CacheArray(0, 127)shuffle, zlib(1)) 'Boundary Values'
    sortedLR := /df/_i_table/index/sortedLR (LastRowArray(131201,)shuffle, zlib(1)) 'Last Row sorted values + bounds'
    indicesLR := /df/_i_table/index/indicesLR (LastRowArray(131072,)shuffle, zlib(1)) 'Last Row indices'

In [307]:
i.optlevel, i.kind

(6, 'medium')

In [308]:
store["df"]

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [309]:
# change an index by passing new parameters

store.create_table_index("df", optlevel=9, kind="full")

In [310]:
i = store.root.df.table.cols.index.index
i

/df/_i_table/index (Index for column /df/table.cols.index)
  optlevel := 9
  kind := full
  filters := Filters(complevel=1, complib='zlib', shuffle=True, bitshuffle=False, fletcher32=False, least_significant_digit=None)
  is_csi := True
  nelements := 8
  chunksize := 1024
  slicesize := 262144
  blocksize := 262144
  superblocksize := 524288
  dirty := 0
  byteorder := 'little'
    sorted := IndexArray(path=/df/_i_table/index/sorted)
    indices := IndexArray(path=/df/_i_table/index/indices)
    ranges := /df/_i_table/index/ranges (CacheArray(0, 2)shuffle, zlib(1)) 'Range Values'
    bounds := /df/_i_table/index/bounds (CacheArray(0, 255)shuffle, zlib(1)) 'Boundary Values'
    sortedLR := /df/_i_table/index/sortedLR (LastRowArray(262401,)shuffle, zlib(1)) 'Last Row sorted values + bounds'
    indicesLR := /df/_i_table/index/indicesLR (LastRowArray(262144,)shuffle, zlib(1)) 'Last Row indices'

In [311]:
i.optlevel, i.kind

(9, 'full')

In [312]:
store["df"]

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [313]:
df_1 = pd.DataFrame(np.random.randn(10, 2), columns=list("AB"))

df_2 = pd.DataFrame(np.random.randn(10, 2), columns=list("AB"))

st = pd.HDFStore("appends.h5", mode="w")

st.append("df", df_1, data_columns=["B"], index=False)

st.append("df", df_2, data_columns=["B"], index=False)

st.get_storer("df").table

/df/table (Table(20,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(1,), dflt=0.0, pos=1),
  "B": Float64Col(shape=(), dflt=0.0, pos=2)}
  byteorder := 'little'
  chunkshape := (2730,)

In [314]:
st.create_table_index("df", columns=["B"], optlevel=9, kind="full")

st.get_storer("df").table

/df/table (Table(20,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(1,), dflt=0.0, pos=1),
  "B": Float64Col(shape=(), dflt=0.0, pos=2)}
  byteorder := 'little'
  chunkshape := (2730,)
  autoindex := True
  colindexes := {
    "B": Index(9, fullshuffle, zlib(1)).is_csi=True}

In [315]:
st.close()

In [316]:
df_dc = df.copy()

df_dc["string"] = "foo"

df_dc.loc[df_dc.index[4:6], "string"] = np.nan

df_dc.loc[df_dc.index[6:9], "string"] = "bar"

df_dc["string2"] = "cool"

df_dc.loc[df_dc.index[1:3], ["B", "C"]] = 1.0

df_dc

                   A         B         C string string2
2000-01-01  1.496738  0.721952  0.280245    foo    cool
2000-01-02 -0.515706  1.000000  1.000000    foo    cool
2000-01-03 -1.111231  1.000000  1.000000    foo    cool
2000-01-04  1.372394 -2.046918  0.096383    foo    cool
2000-01-05 -0.140143 -0.335221  0.024827    NaN    cool
2000-01-06  0.984153 -1.401931  0.877626    NaN    cool
2000-01-07 -1.348034 -0.443631  1.273481    bar    cool
2000-01-08  0.153899  0.780704  2.046410    bar    cool

In [317]:
# on-disk operations

store.append("df_dc", df_dc, data_columns=["B", "C", "string", "string2"])

In [318]:
store.select("df_dc", where="B > 0")

                   A         B         C string string2
2000-01-01 -0.862867  0.305092 -1.050126    foo    cool
2000-01-02  1.469214  1.000000  1.000000    foo    cool
2000-01-03 -0.195339  1.000000  1.000000    foo    cool
2000-01-05  1.707508  0.137397  2.010809    NaN    cool
2000-01-08 -0.548136  0.700510 -0.306658    bar    cool
2000-01-01  1.496738  0.721952  0.280245    foo    cool
2000-01-02 -0.515706  1.000000  1.000000    foo    cool
2000-01-03 -1.111231  1.000000  1.000000    foo    cool
2000-01-08  0.153899  0.780704  2.046410    bar    cool

In [319]:
# getting creative

store.select("df_dc", "B > 0 & C > 0 & string == foo")

                   A         B         C string string2
2000-01-02  1.469214  1.000000  1.000000    foo    cool
2000-01-03 -0.195339  1.000000  1.000000    foo    cool
2000-01-01  1.496738  0.721952  0.280245    foo    cool
2000-01-02 -0.515706  1.000000  1.000000    foo    cool
2000-01-03 -1.111231  1.000000  1.000000    foo    cool

In [320]:
# this is in-memory version of this type of selection

df_dc[(df_dc.B > 0) & (df_dc.C > 0) & (df_dc.string == "foo")]

                   A         B         C string string2
2000-01-01  1.496738  0.721952  0.280245    foo    cool
2000-01-02 -0.515706  1.000000  1.000000    foo    cool
2000-01-03 -1.111231  1.000000  1.000000    foo    cool

In [321]:
# we have automagically created this index and the B/C/string/string2
# columns are stored separately as ``PyTables`` columns

store.root.df_dc.table

/df_dc/table (Table(16,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": Float64Col(shape=(1,), dflt=0.0, pos=1),
  "B": Float64Col(shape=(), dflt=0.0, pos=2),
  "C": Float64Col(shape=(), dflt=0.0, pos=3),
  "string": StringCol(itemsize=3, shape=(), dflt=b'', pos=4),
  "string2": StringCol(itemsize=4, shape=(), dflt=b'', pos=5)}
  byteorder := 'little'
  chunkshape := (1680,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False,
    "B": Index(6, mediumshuffle, zlib(1)).is_csi=False,
    "C": Index(6, mediumshuffle, zlib(1)).is_csi=False,
    "string": Index(6, mediumshuffle, zlib(1)).is_csi=False,
    "string2": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [322]:
for df in store.select("df", chunksize=3):

    print(df)

                   A         B         C
2000-01-01  1.496738  0.721952  0.280245
2000-01-02 -0.515706  1.379301 -0.964243
2000-01-03 -1.111231 -0.927873 -0.933824
                   A         B         C
2000-01-04  1.372394 -2.046918  0.096383
2000-01-05 -0.140143 -0.335221  0.024827
2000-01-06  0.984153 -1.401931  0.877626
                   A         B         C
2000-01-07 -1.348034 -0.443631  1.273481
2000-01-08  0.153899  0.780704  2.046410

In [323]:
dfeq = pd.DataFrame({"number": np.arange(1, 11)})

dfeq

   number
0       1
1       2
2       3
3       4
4       5
5       6
6       7
7       8
8       9
9      10

In [324]:
store.append("dfeq", dfeq, data_columns=["number"])

def chunks(l, n):

    return [l[i: i + n] for i in range(0, len(l), n)]



evens = [2, 4, 6, 8, 10]

coordinates = store.select_as_coordinates("dfeq", "number=evens")

coordinates

Index([1, 3, 5, 7, 9, 11, 13, 15, 17, 19], dtype='int64')

In [325]:
chunks(coordinates, 2)

[Index([1, 3], dtype='int64'),
 Index([5, 7], dtype='int64'),
 Index([9, 11], dtype='int64'),
 Index([13, 15], dtype='int64'),
 Index([17, 19], dtype='int64')]

In [326]:
for c in chunks(coordinates, 2):

    print(store.select("dfeq", where=c))

   number
1       2
3       4
   number
5       6
7       8
   number
9      10
1       2
   number
3       4
5       6
   number
7       8
9      10

In [327]:
store.select_column("df_dc", "index")

0    2000-01-01
1    2000-01-02
2    2000-01-03
3    2000-01-04
4    2000-01-05
5    2000-01-06
6    2000-01-07
7    2000-01-08
8    2000-01-01
9    2000-01-02
10   2000-01-03
11   2000-01-04
12   2000-01-05
13   2000-01-06
14   2000-01-07
15   2000-01-08
Name: index, dtype: datetime64[ns]

In [328]:
store.select_column("df_dc", "string")

0     foo
1     foo
2     foo
3     foo
4     NaN
5     NaN
6     bar
7     bar
8     foo
9     foo
10    foo
11    foo
12    NaN
13    NaN
14    bar
15    bar
Name: string, dtype: object

In [329]:
df_coord = pd.DataFrame(

    np.random.randn(1000, 2), index=pd.date_range("20000101", periods=1000)

)



store.append("df_coord", df_coord)

c = store.select_as_coordinates("df_coord", "index > 20020101")

c

Index([ 732,  733,  734,  735,  736,  737,  738,  739,  740,  741,
       ...
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999],
      dtype='int64', length=536)

In [330]:
store.select("df_coord", where=c)

                   0         1
2002-01-02  0.471649  1.172349
2002-01-03  1.548724  0.561625
2002-01-04  0.493765 -1.344078
2002-01-05  0.181973  1.078894
2002-01-06  0.675497 -0.596901
...              ...       ...
2002-09-22  0.386067 -0.911107
2002-09-23 -0.663659  0.223526
2002-09-24 -0.470597  0.011318
2002-09-25  1.947651  1.545400
2002-09-26 -0.349859 -1.046688

[536 rows x 2 columns]

In [331]:
df_mask = pd.DataFrame(

    np.random.randn(1000, 2), index=pd.date_range("20000101", periods=1000)

)
df_mask

                   0         1
2000-01-01  1.503638  2.433874
2000-01-02  1.572208 -0.195488
2000-01-03 -0.580402  0.935489
2000-01-04  0.736321 -1.838406
2000-01-05 -0.260530 -2.202124
...              ...       ...
2002-09-22 -2.105550 -1.327555
2002-09-23  1.152806  0.208680
2002-09-24 -0.217133 -0.335663
2002-09-25 -1.413355  1.757348
2002-09-26 -0.544131 -0.939092

[1000 rows x 2 columns]

In [332]:
store.append("df_mask", df_mask)

In [333]:
c = store.select_column("df_mask", "index")
c

0      2000-01-01
1      2000-01-02
2      2000-01-03
3      2000-01-04
4      2000-01-05
          ...
1995   2002-09-22
1996   2002-09-23
1997   2002-09-24
1998   2002-09-25
1999   2002-09-26
Name: index, Length: 2000, dtype: datetime64[ns]

In [334]:
where = c[pd.DatetimeIndex(c).month == 5].index

In [335]:
store.select("df_mask", where=where)

                   0         1
2000-05-01  0.975448  1.271196
2000-05-02  0.349918 -2.535755
2000-05-03  0.375830 -0.332908
2000-05-04  0.221229 -0.618340
2000-05-05 -0.236353 -1.084867
...              ...       ...
2002-05-27 -0.680308 -0.689412
2002-05-28 -0.453467 -0.279823
2002-05-29 -0.525150  1.298477
2002-05-30  0.242437 -0.734280
2002-05-31  0.230404 -0.368267

[186 rows x 2 columns]

In [336]:
store.get_storer("df_dc").nrows

16

In [337]:
df_mt = pd.DataFrame(

    np.random.randn(8, 6),

    index=pd.date_range("1/1/2000", periods=8),

    columns=["A", "B", "C", "D", "E", "F"],

)



df_mt["foo"] = "bar"

df_mt.loc[df_mt.index[1], ("A", "B")] = np.nan

df_mt

                   A         B         C         D         E         F  foo
2000-01-01  0.014391  0.872084 -0.353897  0.877929 -0.695173 -0.958097  bar
2000-01-02       NaN       NaN -0.395530 -0.016784  0.471043 -0.607369  bar
2000-01-03  0.400700 -0.000993 -0.805993  0.306603  0.215796  0.497400  bar
2000-01-04  0.180214  0.582169 -2.773256  1.014605  1.118774  1.132660  bar
2000-01-05  1.808783 -0.010070  1.422715  0.214587 -0.753718 -0.642912  bar
2000-01-06 -1.897370  0.341018 -1.427275  1.626064 -0.430980  0.966015  bar
2000-01-07  3.279507  1.117549  0.633674  1.119269  1.097054  1.325768  bar
2000-01-08 -0.955294  0.400861 -0.566990 -0.157466 -0.658863 -0.136957  bar

In [338]:
# you can also create the tables individually

store.append_to_multiple(

    {"df1_mt": ["A", "B"], "df2_mt": None}, df_mt, selector="df1_mt"

)

In [339]:
store.root

/ (RootGroup) ''
  children := ['df1_mt' (Group), 'df2_mt' (Group), 'df_coord' (Group), 'df_dc' (Group), 'df_mask' (Group), 'df_mi' (Group), 'df_mi_2' (Group), 'df_mixed' (Group), 'dfeq' (Group), 'dfq' (Group), 'dfs' (Group), 'dfs2' (Group), 'dfss' (Group), 'dfss2' (Group), 'foo' (Group), 's' (Group), 'df' (Group), 'dftd' (Group)]

In [340]:
store["df1_mt"]

                   A         B
2000-01-01 -2.858795  0.066968
2000-01-02       NaN       NaN
2000-01-03 -0.000888 -0.465785
2000-01-04  1.433931  1.294571
2000-01-05  1.118996 -1.736189
2000-01-06  1.254328  2.338276
2000-01-07 -0.484241  0.535379
2000-01-08  0.921162  0.058956
2000-01-01  0.014391  0.872084
2000-01-02       NaN       NaN
2000-01-03  0.400700 -0.000993
2000-01-04  0.180214  0.582169
2000-01-05  1.808783 -0.010070
2000-01-06 -1.897370  0.341018
2000-01-07  3.279507  1.117549
2000-01-08 -0.955294  0.400861

In [341]:
# individual tables were created

store.select("df1_mt")

                   A         B
2000-01-01 -2.858795  0.066968
2000-01-02       NaN       NaN
2000-01-03 -0.000888 -0.465785
2000-01-04  1.433931  1.294571
2000-01-05  1.118996 -1.736189
2000-01-06  1.254328  2.338276
2000-01-07 -0.484241  0.535379
2000-01-08  0.921162  0.058956
2000-01-01  0.014391  0.872084
2000-01-02       NaN       NaN
2000-01-03  0.400700 -0.000993
2000-01-04  0.180214  0.582169
2000-01-05  1.808783 -0.010070
2000-01-06 -1.897370  0.341018
2000-01-07  3.279507  1.117549
2000-01-08 -0.955294  0.400861

In [342]:
store["df2_mt"]

                   C         D         E         F  foo
2000-01-01  0.067692 -1.181587  1.506961  0.571729  bar
2000-01-02 -0.373564  0.941560  0.403962  0.634318  bar
2000-01-03  2.118074  0.901173 -0.212040 -1.233431  bar
2000-01-04  0.201203  0.741245 -1.162186 -1.229126  bar
2000-01-05  0.657460 -2.013690 -1.486685 -1.787100  bar
2000-01-06 -0.242792 -0.380503 -0.119632 -0.749709  bar
2000-01-07 -1.332726 -0.539220 -0.316547 -0.010923  bar
2000-01-08 -1.231249 -0.455299 -0.805650  1.902766  bar
2000-01-01 -0.353897  0.877929 -0.695173 -0.958097  bar
2000-01-02 -0.395530 -0.016784  0.471043 -0.607369  bar
2000-01-03 -0.805993  0.306603  0.215796  0.497400  bar
2000-01-04 -2.773256  1.014605  1.118774  1.132660  bar
2000-01-05  1.422715  0.214587 -0.753718 -0.642912  bar
2000-01-06 -1.427275  1.626064 -0.430980  0.966015  bar
2000-01-07  0.633674  1.119269  1.097054  1.325768  bar
2000-01-08 -0.566990 -0.157466 -0.658863 -0.136957  bar

In [343]:
store.select("df2_mt")

                   C         D         E         F  foo
2000-01-01  0.067692 -1.181587  1.506961  0.571729  bar
2000-01-02 -0.373564  0.941560  0.403962  0.634318  bar
2000-01-03  2.118074  0.901173 -0.212040 -1.233431  bar
2000-01-04  0.201203  0.741245 -1.162186 -1.229126  bar
2000-01-05  0.657460 -2.013690 -1.486685 -1.787100  bar
2000-01-06 -0.242792 -0.380503 -0.119632 -0.749709  bar
2000-01-07 -1.332726 -0.539220 -0.316547 -0.010923  bar
2000-01-08 -1.231249 -0.455299 -0.805650  1.902766  bar
2000-01-01 -0.353897  0.877929 -0.695173 -0.958097  bar
2000-01-02 -0.395530 -0.016784  0.471043 -0.607369  bar
2000-01-03 -0.805993  0.306603  0.215796  0.497400  bar
2000-01-04 -2.773256  1.014605  1.118774  1.132660  bar
2000-01-05  1.422715  0.214587 -0.753718 -0.642912  bar
2000-01-06 -1.427275  1.626064 -0.430980  0.966015  bar
2000-01-07  0.633674  1.119269  1.097054  1.325768  bar
2000-01-08 -0.566990 -0.157466 -0.658863 -0.136957  bar

In [344]:
# as a multiple

store.select_as_multiple(

    ["df1_mt", "df2_mt"],

    where=["A>0", "B>0"],

    selector="df1_mt",

)

                   A         B         C         D         E         F  foo
2000-01-04  1.433931  1.294571  0.201203  0.741245 -1.162186 -1.229126  bar
2000-01-06  1.254328  2.338276 -0.242792 -0.380503 -0.119632 -0.749709  bar
2000-01-08  0.921162  0.058956 -1.231249 -0.455299 -0.805650  1.902766  bar
2000-01-01  0.014391  0.872084 -0.353897  0.877929 -0.695173 -0.958097  bar
2000-01-04  0.180214  0.582169 -2.773256  1.014605  1.118774  1.132660  bar
2000-01-07  3.279507  1.117549  0.633674  1.119269  1.097054  1.325768  bar

In [347]:
store_compressed = pd.HDFStore(
    "store_compressed.h5", complevel=9, complib="blosc:blosclz"
)

In [348]:
store.append("df", df, complib="zlib", complevel=5)

In [349]:
dfcat = pd.DataFrame(

    {"A": pd.Series(list("aabbcdba")).astype("category"), "B": np.random.randn(8)}

)



dfcat

   A         B
0  a  1.822275
1  a  0.397581
2  b -0.157253
3  b  1.722047
4  c  0.779504
5  d  0.028675
6  b  1.190906
7  a  0.144176

In [350]:
dfcat.dtypes

A    category
B     float64
dtype: object

In [351]:
cstore = pd.HDFStore("cats.h5", mode="w")

cstore.append("dfcat", dfcat, format="table", data_columns=["A"])

result = cstore.select("dfcat", where="A in ['b', 'c']")

result

   A         B
2  b -0.157253
3  b  1.722047
4  c  0.779504
6  b  1.190906

In [353]:
result.dtypes

A    category
B     float64
dtype: object

In [354]:
dfs = pd.DataFrame({"A": "foo", "B": "bar"}, index=list(range(5)))

dfs

     A    B
0  foo  bar
1  foo  bar
2  foo  bar
3  foo  bar
4  foo  bar

In [355]:
# A and B have a size of 30

store.append("dfs", dfs, min_itemsize=30)

store.get_storer("dfs").table

/dfs/table (Table(10,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": StringCol(itemsize=30, shape=(2,), dflt=b'', pos=1)}
  byteorder := 'little'
  chunkshape := (963,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [356]:
# A is created as a data_column with a size of 30
# B is size is calculated

store.append("dfs2", dfs, min_itemsize={"A": 30})

store.get_storer("dfs2").table

/dfs2/table (Table(10,)) ''
  description := {
  "index": Int64Col(shape=(), dflt=0, pos=0),
  "values_block_0": StringCol(itemsize=3, shape=(1,), dflt=b'', pos=1),
  "A": StringCol(itemsize=30, shape=(), dflt=b'', pos=2)}
  byteorder := 'little'
  chunkshape := (1598,)
  autoindex := True
  colindexes := {
    "index": Index(6, mediumshuffle, zlib(1)).is_csi=False,
    "A": Index(6, mediumshuffle, zlib(1)).is_csi=False}

In [357]:
dfss = pd.DataFrame({"A": ["foo", "bar", "nan"]})

dfss

     A
0  foo
1  bar
2  nan

In [358]:
store.append("dfss", dfss)

store.select("dfss")

     A
0  foo
1  bar
2  NaN
0  foo
1  bar
2  NaN

In [359]:
# here you need to specify a different nan rep

store.append("dfss2", dfss, nan_rep="_nan_")

store.select("dfss2")

     A
0  foo
1  bar
2  nan
0  foo
1  bar
2  nan
0  foo
1  bar
2  nan
0  foo
1  bar
2  nan

In [360]:
df = pd.DataFrame(

    {

        "a": list("abc"),

        "b": list(range(1, 4)),

        "c": np.arange(3, 6).astype("u1"),

        "d": np.arange(4.0, 7.0, dtype="float64"),

        "e": [True, False, True],

        "f": pd.date_range("20130101", periods=3),

        "g": pd.date_range("20130101", periods=3, tz="US/Eastern"),

        "h": pd.Categorical(list("abc")),

        "i": pd.Categorical(list("abc"), ordered=True),

    }

)



df

   a  b  c    d      e          f                         g  h  i
0  a  1  3  4.0   True 2013-01-01 2013-01-01 00:00:00-05:00  a  a
1  b  2  4  5.0  False 2013-01-02 2013-01-02 00:00:00-05:00  b  b
2  c  3  5  6.0   True 2013-01-03 2013-01-03 00:00:00-05:00  c  c

In [361]:
df.dtypes

a                        object
b                         int64
c                         uint8
d                       float64
e                          bool
f                datetime64[ns]
g    datetime64[ns, US/Eastern]
h                      category
i                      category
dtype: object

In [362]:
df.to_parquet("example_pa.parquet", engine="pyarrow")

df.to_parquet("example_fp.parquet", engine="fastparquet")

In [363]:
result1 = pd.read_parquet("example_fp.parquet", engine="fastparquet")

result2 = pd.read_parquet("example_pa.parquet", engine="pyarrow")

result1.dtypes, result2.dtypes

(a                        object
 b                         int64
 c                         uint8
 d                       float64
 e                          bool
 f                datetime64[ns]
 g    datetime64[ns, US/Eastern]
 h                      category
 i                      category
 dtype: object,
 a                        object
 b                         int64
 c                         uint8
 d                       float64
 e                          bool
 f                datetime64[ns]
 g    datetime64[ns, US/Eastern]
 h                      category
 i                      category
 dtype: object)

In [364]:
result = pd.read_parquet("example_pa.parquet", engine="pyarrow", dtype_backend="pyarrow")

result.dtypes

a                                      string[pyarrow]
b                                       int64[pyarrow]
c                                       uint8[pyarrow]
d                                      double[pyarrow]
e                                        bool[pyarrow]
f                               timestamp[ns][pyarrow]
g                timestamp[ns, tz=US/Eastern][pyarrow]
h    dictionary<values=string, indices=int32, order...
i    dictionary<values=string, indices=int32, order...
dtype: object

In [365]:
result1 = pd.read_parquet(

    "example_fp.parquet",

    engine="fastparquet",

    columns=["a", "b"],

)



result2 = pd.read_parquet(

    "example_pa.parquet",

    engine="pyarrow",

    columns=["a", "b"],

)



result1.dtypes, result2.dtypes

(a    object
 b     int64
 dtype: object,
 a    object
 b     int64
 dtype: object)

In [366]:
df = pd.DataFrame({"a": [1, 2], "b": [3, 4]})

df.to_parquet("test.parquet", engine="pyarrow")

In [367]:
df.to_parquet("test.parquet", index=False)

In [368]:
df = pd.DataFrame({"a": [0, 0, 1, 1], "b": [0, 1, 0, 1]})

df.to_parquet(path="test", engine="pyarrow", partition_cols=["a"], compression=None)

In [369]:
import adbc_driver_sqlite.dbapi as sqlite_dbapi


# Create sample data
sample_df = pd.DataFrame({
    'col1': [1, 2, 3],
    'col2': ['a', 'b', 'c']
})

# Create connection and table
with sqlite_dbapi.connect(":memory:") as conn:
    # First create and populate the table
    sample_df.to_sql("data", conn, index=False)
    
    # Now you can read it
    result_df = pd.read_sql_table("data", conn)

In [370]:
result_df

   col1 col2
0     1    a
1     2    b
2     3    c

In [371]:
from sqlalchemy import create_engine

# Create your engine.

engine = create_engine("sqlite:///my_database.db")
engine

Engine(sqlite:///my_database.db)

In [372]:
from sqlalchemy import create_engine, text
import pandas as pd

# Create engine
engine = create_engine("sqlite:///:memory:")

# Create some sample data
sample_df = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': ['a', 'b', 'c']
})

# Create table and insert data using SQLAlchemy directly
with engine.connect() as conn, conn.begin():
    # Create table with IF NOT EXISTS
    conn.execute(text("""
        CREATE TABLE IF NOT EXISTS data (
            column1 INTEGER,
            column2 TEXT
        )
    """))
    
    # Clear existing data (optional)
    conn.execute(text("DELETE FROM data"))
    
    # Insert data
    for _, row in sample_df.iterrows():
        conn.execute(
            text("INSERT INTO data (column1, column2) VALUES (:col1, :col2)"),
            {"col1": row['column1'], "col2": row['column2']}
        )

# Now read the data using read_sql_query
with engine.connect() as conn:
    result = conn.execute(text('SELECT * FROM data'))
    data = pd.DataFrame(result.fetchall(), columns=result.keys())
print(data)

   column1 column2
0        1       a
1        2       b
2        3       c

In [387]:
from sqlalchemy import create_engine

# Create your engine.

engine = create_engine("sqlite:///:memory:")

In [388]:
# Create some sample data
sample_df = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': ['a', 'b', 'c']
})

with engine.connect() as conn, conn.begin():
    sample_df.to_sql("data", conn)
    data = pd.read_sql_table("data", conn)
    
print(data)

   index  column1 column2
0      0        1       a
1      1        2       b
2      2        3       c

In [389]:
# Create your engine.

engine = create_engine("sqlite:///:memory:")

import datetime

c = ["id", "Date", "Col_1", "Col_2", "Col_3"]

d = [

    (26, datetime.datetime(2010, 10, 18), "X", 27.5, True),

    (42, datetime.datetime(2010, 10, 19), "Y", -12.5, False),

    (63, datetime.datetime(2010, 10, 20), "Z", 5.73, True),

]



data = pd.DataFrame(d, columns=c)

data

   id       Date Col_1  Col_2  Col_3
0  26 2010-10-18     X  27.50   True
1  42 2010-10-19     Y -12.50  False
2  63 2010-10-20     Z   5.73   True

In [390]:
data.to_sql("data", con=engine)

3

In [391]:
data.to_sql("data_chunked", con=engine, chunksize=1000)

3

In [392]:
from sqlalchemy.types import String

data.to_sql("data_dtype", con=engine, dtype={"Col_1": String})

3

In [393]:
pd.read_sql_table("data_dtype", engine)

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

In [394]:
pd.read_sql_table("data", engine, index_col="id")

    index       Date Col_1  Col_2  Col_3
id
26      0 2010-10-18     X  27.50   True
42      1 2010-10-19     Y -12.50  False
63      2 2010-10-20     Z   5.73   True

In [395]:
pd.read_sql_table("data", engine, parse_dates=["Date"])

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

In [396]:
pd.read_sql_table("data", engine, parse_dates={"Date": "%Y-%m-%d"})

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

In [397]:
pd.read_sql_table(
    "data",
    engine,
    parse_dates={"Date": {"format": "%Y-%m-%d %H:%M:%S"}},
)

   index  id       Date Col_1  Col_2  Col_3
0      0  26 2010-10-18     X  27.50   True
1      1  42 2010-10-19     Y -12.50  False
2      2  63 2010-10-20     Z   5.73   True

In [398]:
pd.read_sql_query("SELECT * FROM data", engine)

   index  id                        Date Col_1  Col_2  Col_3
0      0  26  2010-10-18 00:00:00.000000     X  27.50      1
1      1  42  2010-10-19 00:00:00.000000     Y -12.50      0
2      2  63  2010-10-20 00:00:00.000000     Z   5.73      1

In [399]:
pd.read_sql_query("SELECT id, Col_1, Col_2 FROM data WHERE id = 42;", engine)

   id Col_1  Col_2
0  42     Y  -12.5

In [400]:
df = pd.DataFrame(np.random.randn(20, 3), columns=list("abc"))

df.to_sql(name="data_chunks", con=engine, index=False)

20

In [402]:
for chunk in pd.read_sql_query("SELECT * FROM data_chunks", engine, chunksize=5):
    print(chunk)

          a         b         c
0 -0.912203 -0.078540 -1.013062
1  2.018077  2.006179 -0.042316
2  0.174914 -0.206914  0.958511
3 -0.412737  0.294017  0.530625
4  0.407609 -1.356869  0.954886
          a         b         c
0  0.255510 -0.654097 -0.405869
1  0.704871  0.783439 -1.407444
2  0.478537 -1.333320 -0.783883
3  0.163558 -0.612215  2.057647
4 -1.017340 -2.028990 -0.126607
          a         b         c
0 -1.273975 -0.313082  0.091330
1  0.052538 -0.016805  1.048513
2 -0.352641 -0.223723 -0.503187
3 -0.539327  0.243814  2.249306
4  0.220058  1.084329 -1.021153
          a         b         c
0  0.295000  0.004431 -0.793597
1 -0.295469 -0.319856 -1.951133
2  0.130423  0.945044  1.499440
3  0.445249  0.197669  0.061424
4  0.089256  0.379520 -0.229475

In [403]:
import sqlalchemy as sa

pd.read_sql(

    sa.text("SELECT * FROM data where Col_1=:col1"), engine, params={"col1": "X"}

)

   index  id                        Date Col_1  Col_2  Col_3
0      0  26  2010-10-18 00:00:00.000000     X   27.5      1

In [404]:
metadata = sa.MetaData()

data_table = sa.Table(

    "data",

    metadata,

    sa.Column("index", sa.Integer),

    sa.Column("Date", sa.DateTime),

    sa.Column("Col_1", sa.String),

    sa.Column("Col_2", sa.Float),

    sa.Column("Col_3", sa.Boolean),

)

In [405]:
metadata

MetaData()

In [406]:
data_table

Table('data', MetaData(), Column('index', Integer(), table=<data>), Column('Date', DateTime(), table=<data>), Column('Col_1', String(), table=<data>), Column('Col_2', Float(), table=<data>), Column('Col_3', Boolean(), table=<data>), schema=None)

In [407]:
pd.read_sql(sa.select(data_table).where(data_table.c.Col_3 is True), engine)

Empty DataFrame
Columns: [index, Date, Col_1, Col_2, Col_3]
Index: []

In [408]:
import datetime as dt

expr = sa.select(data_table).where(data_table.c.Date > sa.bindparam("date"))

pd.read_sql(expr, engine, params={"date": dt.datetime(2010, 10, 18)})

   index       Date Col_1  Col_2  Col_3
0      1 2010-10-19     Y -12.50  False
1      2 2010-10-20     Z   5.73   True

In [373]:
import sqlite3

con = sqlite3.connect(":memory:")

In [374]:
# Create some sample data
sample_df = pd.DataFrame({
    'column1': [1, 2, 3],
    'column2': ['a', 'b', 'c']
})

sample_df.to_sql("data", con)
pd.read_sql_query("SELECT * FROM data", con)

   index  column1 column2
0      0        1       a
1      1        2       b
2      2        3       c

In [409]:
#performance
sz = 1000000

df = pd.DataFrame({'A': np.random.randn(sz), 'B': [1] * sz})

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   A       1000000 non-null  float64
 1   B       1000000 non-null  int64
dtypes: float64(1), int64(1)
memory usage: 15.3 MB

In [410]:
import numpy as np

import os

sz = 1000000
df = pd.DataFrame({"A": np.random.randn(sz), "B": [1] * sz})

sz = 1000000
np.random.seed(42)
df = pd.DataFrame({"A": np.random.randn(sz), "B": [1] * sz})


def test_sql_write(df):
    if os.path.exists("test.sql"):
        os.remove("test.sql")
    sql_db = sqlite3.connect("test.sql")
    df.to_sql(name="test_table", con=sql_db)
    sql_db.close()


def test_sql_read():
    sql_db = sqlite3.connect("test.sql")
    pd.read_sql_query("select * from test_table", sql_db)
    sql_db.close()


def test_hdf_fixed_write(df):
    df.to_hdf("test_fixed.hdf", key="test", mode="w")


def test_hdf_fixed_read():
    pd.read_hdf("test_fixed.hdf", "test")


def test_hdf_fixed_write_compress(df):
    df.to_hdf("test_fixed_compress.hdf", key="test", mode="w", complib="blosc")


def test_hdf_fixed_read_compress():
    pd.read_hdf("test_fixed_compress.hdf", "test")


def test_hdf_table_write(df):
    df.to_hdf("test_table.hdf", key="test", mode="w", format="table")


def test_hdf_table_read():
    pd.read_hdf("test_table.hdf", "test")


def test_hdf_table_write_compress(df):
    df.to_hdf(
        "test_table_compress.hdf", key="test", mode="w", complib="blosc", format="table"
    )


def test_hdf_table_read_compress():
    pd.read_hdf("test_table_compress.hdf", "test")


def test_csv_write(df):
    df.to_csv("test.csv", mode="w")


def test_csv_read():
    pd.read_csv("test.csv", index_col=0)


def test_feather_write(df):
    df.to_feather("test.feather")


def test_feather_read():
    pd.read_feather("test.feather")


def test_pickle_write(df):
    df.to_pickle("test.pkl")


def test_pickle_read():
    pd.read_pickle("test.pkl")


def test_pickle_write_compress(df):
    df.to_pickle("test.pkl.compress", compression="xz")


def test_pickle_read_compress():
    pd.read_pickle("test.pkl.compress", compression="xz")


def test_parquet_write(df):
    df.to_parquet("test.parquet")


def test_parquet_read():
    pd.read_parquet("test.parquet")

In [411]:
%timeit test_sql_write(df)

3.91 s Â± 293 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [412]:
%timeit test_hdf_fixed_write(df)

29.4 ms Â± 5.9 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [413]:
%timeit test_hdf_fixed_write_compress(df)

31 ms Â± 8.65 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [414]:
%timeit test_hdf_table_write(df)

287 ms Â± 30.8 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [415]:
%timeit test_hdf_table_write_compress(df)

314 ms Â± 16 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [416]:
%timeit test_csv_write(df)

2.18 s Â± 178 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [418]:
%timeit test_feather_write(df)

14.2 ms Â± 644 Âµs per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [419]:
%timeit test_pickle_write(df)

6.4 ms Â± 216 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [420]:
%timeit test_pickle_write_compress(df)

3.52 s Â± 432 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [421]:
%timeit test_parquet_write(df)

44.2 ms Â± 798 Âµs per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [422]:
%timeit test_sql_read()

1.68 s Â± 168 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [423]:
%timeit test_hdf_fixed_read()

30.4 ms Â± 4.16 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [424]:
%timeit test_hdf_fixed_read_compress()

33.2 ms Â± 1.75 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [425]:
%timeit test_hdf_table_read()

51.6 ms Â± 2.44 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [426]:
%timeit test_hdf_table_read_compress()

50.2 ms Â± 5.34 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

In [427]:
%timeit test_csv_read()

402 ms Â± 16.4 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [428]:
%timeit test_feather_read()

12.6 ms Â± 1.13 ms per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [429]:
%timeit test_pickle_read()

8.91 ms Â± 457 Âµs per loop (mean Â± std. dev. of 7 runs, 100 loops each)

In [430]:
%timeit test_pickle_read_compress()

570 ms Â± 40.7 ms per loop (mean Â± std. dev. of 7 runs, 1 loop each)

In [431]:
%timeit test_parquet_read()

19.9 ms Â± 2.74 ms per loop (mean Â± std. dev. of 7 runs, 100 loops each)