In [2]:
import pandas as pd
import numpy as np

In [3]:
arrays = [

    ["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"],

    ["one", "two", "one", "two", "one", "two", "one", "two"],

]



tuples = list(zip(*arrays))

tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [4]:
index = pd.MultiIndex.from_tuples(tuples, names=["first", "second"])

index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [5]:
s = pd.Series(np.random.randn(8), index=index)

s

first  second
bar    one      -1.194050
       two      -0.524203
baz    one       0.635871
       two      -0.268402
foo    one      -1.976209
       two       0.060937
qux    one       0.083740
       two      -1.897281
dtype: float64

In [6]:
iterables = [["bar", "baz", "foo", "qux"], ["one", "two"]]

pd.MultiIndex.from_product(iterables, names=["first", "second"])

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [7]:
df = pd.DataFrame(

    [["bar", "one"], ["bar", "two"], ["foo", "one"], ["foo", "two"]],

    columns=["first", "second"],

)



pd.MultiIndex.from_frame(df)

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('foo', 'one'),
            ('foo', 'two')],
           names=['first', 'second'])

In [8]:
arrays = [

    np.array(["bar", "bar", "baz", "baz", "foo", "foo", "qux", "qux"]),

    np.array(["one", "two", "one", "two", "one", "two", "one", "two"]),

]



s = pd.Series(np.random.randn(8), index=arrays)

s

bar  one    0.441559
     two    0.228312
baz  one   -1.366432
     two   -2.615238
foo  one   -0.227098
     two    0.173800
qux  one    1.470444
     two   -1.095329
dtype: float64

In [9]:
df.index.names

FrozenList([None])

In [10]:
df = pd.DataFrame(np.random.randn(3, 8), index=["A", "B", "C"], columns=index)

df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.099968  0.775524 -0.280117 -2.597763  0.904136  0.079566 -0.192781
B      -0.905454  0.047056  0.474000 -0.941213  0.177659  2.283450 -0.344664
C       2.980732  0.567498  0.593460  0.452156  0.969994 -0.353649  0.127216

first
second       two
A       0.716804
B       0.187324
C      -1.466834

In [11]:
pd.DataFrame(np.random.randn(6, 6), index=index[:6], columns=index[:6])

first              bar                 baz                 foo
second             one       two       one       two       one       two
first second
bar   one    -1.465341 -1.663116 -1.449146 -1.982969  0.360329 -1.423539
      two    -1.151351 -0.704613  0.270083  0.260593 -0.944900 -0.330197
baz   one    -1.243168 -1.026756 -0.491466  0.830058  1.417244 -0.186617
      two    -1.913877  0.420914 -0.310198 -1.233994 -0.656032 -1.610313
foo   one    -0.487209 -0.504100  0.200819 -0.246953  0.884164  0.754537
      two    -1.743265  0.235184  0.078153 -0.596818 -0.152054 -0.781528

In [13]:
with pd.option_context("display.multi_sparse", False):

    print(df)

first        bar       bar       baz       baz       foo       foo       qux  \
second       one       two       one       two       one       two       one
A      -1.099968  0.775524 -0.280117 -2.597763  0.904136  0.079566 -0.192781
B      -0.905454  0.047056  0.474000 -0.941213  0.177659  2.283450 -0.344664
C       2.980732  0.567498  0.593460  0.452156  0.969994 -0.353649  0.127216

first        qux
second       two
A       0.716804
B       0.187324
C      -1.466834

In [17]:
tmp = pd.Series(np.random.randn(8), index=tuples)
tmp

(bar, one)   -1.469955
(bar, two)   -1.215525
(baz, one)    1.641316
(baz, two)   -0.887380
(foo, one)    0.056543
(foo, two)    0.190405
(qux, one)   -0.611238
(qux, two)   -0.334157
dtype: float64

In [18]:
tmp[('bar', 'one')]

-1.4699552813290193

In [20]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [19]:
index.get_level_values(0)

Index(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [21]:
index.get_level_values("second")

Index(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'], dtype='object', name='second')

In [22]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.099968  0.775524 -0.280117 -2.597763  0.904136  0.079566 -0.192781
B      -0.905454  0.047056  0.474000 -0.941213  0.177659  2.283450 -0.344664
C       2.980732  0.567498  0.593460  0.452156  0.969994 -0.353649  0.127216

first
second       two
A       0.716804
B       0.187324
C      -1.466834

In [23]:
df["bar"]

second       one       two
A      -1.099968  0.775524
B      -0.905454  0.047056
C       2.980732  0.567498

In [24]:
df["bar", "one"]

A   -1.099968
B   -0.905454
C    2.980732
Name: (bar, one), dtype: float64

In [25]:
df["bar"]["one"]

A   -1.099968
B   -0.905454
C    2.980732
Name: one, dtype: float64

In [26]:
s["qux"]

one    1.470444
two   -1.095329
dtype: float64

In [27]:
df.columns.levels  # original MultiIndex

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [31]:
df

first        bar                 baz                 foo                 qux  \
second       one       two       one       two       one       two       one
A      -1.099968  0.775524 -0.280117 -2.597763  0.904136  0.079566 -0.192781
B      -0.905454  0.047056  0.474000 -0.941213  0.177659  2.283450 -0.344664
C       2.980732  0.567498  0.593460  0.452156  0.969994 -0.353649  0.127216

first
second       two
A       0.716804
B       0.187324
C      -1.466834

In [30]:
df[["foo","qux"]]

first        foo                 qux
second       one       two       one       two
A       0.904136  0.079566 -0.192781  0.716804
B       0.177659  2.283450 -0.344664  0.187324
C       0.969994 -0.353649  0.127216 -1.466834

In [28]:
df[["foo","qux"]].columns.levels  # sliced

FrozenList([['bar', 'baz', 'foo', 'qux'], ['one', 'two']])

In [29]:
df[["foo", "qux"]].columns.to_numpy()

array([('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')],
      dtype=object)

In [32]:
# for a specific level

df[["foo", "qux"]].columns.get_level_values(0)

Index(['foo', 'foo', 'qux', 'qux'], dtype='object', name='first')

In [33]:
new_mi = df[["foo", "qux"]].columns.remove_unused_levels()

new_mi.levels

FrozenList([['foo', 'qux'], ['one', 'two']])

In [34]:
new_mi

MultiIndex([('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [35]:
s

bar  one    0.441559
     two    0.228312
baz  one   -1.366432
     two   -2.615238
foo  one   -0.227098
     two    0.173800
qux  one    1.470444
     two   -1.095329
dtype: float64

In [36]:
s[:-2]

bar  one    0.441559
     two    0.228312
baz  one   -1.366432
     two   -2.615238
foo  one   -0.227098
     two    0.173800
dtype: float64

In [37]:
s + s[:-2]

bar  one    0.883119
     two    0.456625
baz  one   -2.732864
     two   -5.230476
foo  one   -0.454195
     two    0.347599
qux  one         NaN
     two         NaN
dtype: float64

In [38]:
s + s[::2]

bar  one    0.883119
     two         NaN
baz  one   -2.732864
     two         NaN
foo  one   -0.454195
     two         NaN
qux  one    2.940887
     two         NaN
dtype: float64

In [41]:
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['first', 'second'])

In [42]:
tmp = s.reindex(index[:3])
tmp

first  second
bar    one       0.441559
       two       0.228312
baz    one      -1.366432
dtype: float64

In [43]:
s.reindex([("foo", "two"), ("bar", "one"), ("qux", "one"), ("baz", "one")])

foo  two    0.173800
bar  one    0.441559
qux  one    1.470444
baz  one   -1.366432
dtype: float64